<div class="fixed_individual">
    <h3>Resource</h3>
    <label for="text-resource_name">Name:</label>
    <input type="text" class="form-control input-sm" id="text-resource_name" value="<%= _.unescape(name) %>" name="text-resource_name">
    <label for="text-resource_description">Description:</label>
    <textarea type="text" class="form-control input-sm" id="text-resource_description" name="text-resource_description"><%= _.unescape(description) %></textarea>
    <label for="input-resource_labels">Label(s):</label><br>
    <input type="tags" class="form-control input-sm" id="input-resource_labels"
        value="<%= _.map(resource_label_full, (label) => { return label.name; }) %>"
        name="input-resource_labels"><br>
    Creator: <%= creator %><br>
    Created: <%= _.formatFromUTC(created) %><br>
    Updated: <%= _.formatFromUTC(updated) %><br>
    URL: <%= url %><br>
    Type: <select id="select-resourcetype"></select><br>
    <br>
    <div class="btn-group" role="group">
        <button class="btn btn-xs  btn-warning" id="button-main_resource_individual_save">Save</button>
        <button class="btn btn-xs btn-primary" id="button-main_resource_individual_view">View</button>
        <button class="btn btn-xs btn-primary" id="button-main_resource_individual_download">Download</button>
        <button class="btn btn-xs btn-danger" id="button-main_resource_individual_delete">Delete</button><br>
    </div>
    <br>
    <p class="instruction">Note: opening the Resource "View" (if available) may require authentication, but no authentication is required for "Download".</p>
</div>
