<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav navbar-menu">
        <li><a href="#" class="drop-menu">&#9776;</a></li>
        <div class="dropdown-content">
            <a href="#" class="re-classify"><%- reClassify %></a>
            <a href="#" class="group"><%- group %></a>
            <a href="#" class="finalize"><%- finalize %></a>
        </div>
    </ul>
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><%- title %></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left"></ul>
        <ul class="nav navbar-nav navbar-right"></ul>
    </div>
</nav>
