#gui {
    margin-bottom: 15px;
}

#toolbar {
    padding: 15px 4px;
    background: #4B4A48;
    border-color: black;
}

.sidebar-nav {
    padding: 9px 0;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
