@import "variables.less";
@import "grid.less";
@import "mixins.less";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar {
    height: @navbarHeight;
    width: 100%;
    #gradient(@navbarBgStart, @navbarBgEnd);
    ul {
        height: 100%;
        list-style-type: none;
        li {
            line-height: 40px;
            display: inline-block;
            &.title {
                background-image: url('../img/rodan.png');
                background-position: 10px 2px;
                background-repeat: no-repeat;
                padding-left: 80px;
                padding-right: 20px;
                font-size: 1.5em;
                text-shadow: @navbarTitleShadow 0 1px 0;
                position: relative;
                top: 2px;
            }
            padding: 0 10px;
            text-shadow: @navbarTextShadow 0 1px 0;
            a {
                color: @white;
                text-decoration: none;
                &:hover {
                    color: @navbarTextHover;
                }
            }
        }
    }
}

p {
    margin: 10px 0;
}

#wrap {
    width: 100%;
}

#sidebar {
    &:empty {
        display: none;
    }
    .box-shadow(-1px 0px 10px @mediumGrey);
    position: absolute;
    overflow-y: auto;
    left: 0px;
    top: @navbarHeight;
    width: @sidebarWidth;
    background: @sidebarBg;
    #search {
        text-align: center;
        padding: 20px 0;
        input {
            padding-right: 30px;
            background-image: url('../img/search.png');
            background-repeat: no-repeat;
            background-position: @searchIconX @searchIconY;
        }
    }
    .tab {
        padding: 10px;
        color: @sidebarTitle;
        border-bottom: 1px solid @sidebarTabFrame;
        background: @sidebarTabBg;
        display: inline-block;
        cursor: pointer;
    }
    #title-tab {
        .tab;
        text-transform: uppercase;
    }
    #results-tab {
        .tab;
        .hidden;
    }
    .active {
        color: @brightBlue !important;
        border: 1px solid @sidebarTabFrame;
        border-bottom-color: @sidebarTabBg !important;
    }
    ul, div.project-entry {
        margin-top: -1px;
        list-style-type: none;
        width: 100%;
        background: @sidebarResultsBg;
        border-top: 1px solid @sidebarTabFrame;
        li a, p {
            display: block;
            height: @sidebarItemHeight;
            line-height: @sidebarItemHeight / 2;
            padding-left: 10px;
            text-decoration: none;
            color: @sidebarItemText;
            &:hover {
                background: @sidebarItemHoverBg;
            }
            border-bottom: 1px solid @sidebarTabFrame;
        }
    }
}

.scrollable {
    overflow-y: auto;
    height: 100%;
}

#content {
    //.scrollable;
    padding-left: @sidebarWidth;
    background: @contentBg;
    overflow-x: hidden;
}

section {
    padding: 20px;
}

a {
    color: @linkText;
    text-decoration: none;
    &:hover {
        color: @linkHoverText;
        text-decoration: underline;
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

#dialog {
    position: relative;
    width: @dialogWidth;
    margin: 50px auto;
    border: 2px solid @dialogFrameBg;
    .border-radius(5px);
    background: @dialogBg;
    padding: 20px;
    form {
        width: 420px;
        margin: 0 auto;
    }
}

.alert {
    padding: 20px;
    ul {
        margin-left: 20px;
    }
    margin-bottom: 20px;
    .border-radius(5px);
    &.errors {
        background: @errorBg;
    }
    &.ok {
        background: @lightGreen;
    }
    &.neutral {
        background: @lightGrey;
    }
}

.center-align {
    text-align: center;
}

#masthead {
    margin-top: 20px;
    .center-align;
    h1 {
        font-size: 5.0em;
        color: @darkGrey;
    }
    p {
        font-size: 1.5em;
        color: @mediumGrey;
    }
}

.one-third {
    .column(4);
}

.entire {
    .column(12);
}

.two-thirds {
    .column(8);
}

.blue-block {
    background: @lightBlue;
    .border-radius(10px);
    .large {
        font-size: 1.9em;
        color: @darkGrey;
        font-weight: bold;
    }
    section {
        padding: 10px;
    }
    ul {
        margin-left: 20px;
        li {
            color: @mediumGrey;
            span {
                color: @darkGrey;
            }
        }
    }
    margin-bottom: 40px;
}

.row {
    clear: both;
}

#main-line-graph {
    .column(12);
}

#workers {
    list-style-type: none;
    text-align: center;
    li {
        position: relative;
        display: inline-block;
        height: 120px;
        border: 1px solid @workerFrame;
        padding: 5px;
        margin: 0 5px;
        div {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background: @workerBg;
            &.green {
                background: @green;
            }
            &.yellow {
                background: @yellow;
            }
            &.orange {
                background: @orange;
            }
            &.red {
                background: @red;
            }
            .queue-size {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
        .worker-name {
            position: relative;
            top: 110px;
            color: @workerText;
        }
    }
}

table {
    width: 100%;
    border: 1px solid @lightGrey;
    border-left: 0;
    border-spacing: 0;
    th, td {
        padding: 8px;
        line-height: 18px;
        text-align: left;
        border-left: 1px solid @lightGrey;
    }
    th {
        border-bottom: 1px solid @lightGrey;
    }
    &.pretty {
        th {
            background: @brightBlue;
            color: @white;
            width: 20%;
            border: 0;
        }
        td {
            border-top: 1px solid @lightGrey;
        }
        margin-bottom: 20px;
    }
    &.centered-text {
        th, td {
            .center-align;
        }
    }
}

a.button {
    #gradient(@buttonBgStart, @buttonBgEnd);
    color: @buttonText;
    .border-radius(5px);
    padding: 10px;
    font-weight: bold;
    box-shadow: 0px 0px 2px @buttonShadow;
    &:hover {
        #gradient(@buttonHoverBgStart, @buttonHoverBgEnd);
        color: @buttonHoverText;
        text-decoration: none;
    }
    & + a.button {
        margin-left: 5px;
    }
}

.right-float {
    float: right;
    margin-top: 10px;
}

h2 {
    margin: 15px 0px;
}

.breadcrumbs {
    list-style-type: none;
    .border-radius(5px);
    #gradient(@offWhite, @lighterGrey);
    border: 1px solid @lightGrey;
    padding: 7px 14px;
    li {
        display: inline-block;
    }
    li:not(:last-child):after {
        // Add a » between the elements
        content: "\00a0\00a0\00a0\00BB\00a0\00a0";
    }
    margin-bottom: 20px;

}

.left-float {
    float: left;
}

#job-lists {
    float: left;
    position: relative;
    left: 20px;
    ul {
        list-style-type: none;
        background: @lightGrey;
        li {
            max-width: 400px;
            background: @lightBlue;
            padding: 10px;
            border-top: 1px solid @white;
            &.full-height {
                line-height: 60px;
            }
            p {
                // Otherwise it cuts off oddly
                margin-bottom: 0;
            }
        }
    }
    #available-jobs {
        .edit-parameters, span {
            .hidden;
        }
    }
}

.job-lists {
    width: 65%;
    margin: 0 10px;
    display: inline-block;
    th {
        width: 50%;
    }
    td {
        vertical-align: top;
        .message {
            text-align: center;
            margin: 10px 0;
        }
        .job {
            cursor: pointer;
            margin: 0 3px 3px 3px;
            padding: 5px;
            padding-left: 25px;
            span {
                position: absolute;
                margin-left: -20px;
            }
            i {
                font-style: normal;
            }
        }
    }
}

#job-grid {
    li {
        position: relative;
        display: inline-block;
        min-width: 200px;
        height: 50px;
        margin-top: 10px;
        text-align: center;
        background: @lightGrey;
        line-height: 50px;
        &.available {
            background: @brightBlue;
            &:hover {
                background: @brighterBlue;
            }
        }
        a {
            display: block;
            min-width: 160px;
            padding: 0 20px;
            height: 100%;
            color: @white;
            &:hover {
                text-decoration: none;
            }
        }
        &:hover {
            background: @lighterGrey;
        }
    }
}

hr {
    margin: 10px 0;
}

.images {
    margin: 10px 0;
}

ul.grid {
    list-style-type: none;
    li {
        display: inline-block;
        vertical-align: top;
    }
}

.flash-message {
    width: 100%;
    text-align: center;
    position: fixed;
    top: @flashMessageTop;
    left: @sidebarWidth/2;
    z-index: 100;
    span {
        background: @flashMessageBg;
        padding: 5px;
        .border-radius(3px);
    }
}

.rotate-row > #image-preview {
    border: 1px solid;
    float:right;
}

.luminance-view > canvas {
    border: 2px solid;
    margin: -3px;
}

#upload-images li:hover {
    img {
        border-color: @imageButtonHoverFrame;
    }
    .delete-button {
        display: block !important;
    }
}

#upload-images {
    li {
        position: relative;
        .delete-button {
            border: 0;
            cursor: pointer;
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
            color: @white;
            font-size: 15px;
            &:hover {
                background: @black;
            }
            text-shadow: 1px 2px @black;
            background: rgba(0, 0, 0, 0.5);
            padding: 3px 6px;
            .border-radius(15px);
        }
    }
}

.page-loading {
    background: url('../img/loading.gif') no-repeat;
    background-position: 67px 100px;
}

.image-border {
    border: 5px solid @imageButtonFrame;
    width: 150px;
    height: 235px;
}

.image-buttons {
    li {
        .page-loading;
        &.disabled {
            background: none;
        }
    }
    input {
        .hidden;
    }
    img {
        border: 5px solid @imageButtonFrame;
        cursor: pointer;
        &.selected {
            border-color: @imageButtonHoverFrame;
        }
        &.current {
            border-color: @imageButtonActFrame;
        }
        &.disabled {
            opacity: 0.5;
        }
    }
    .fake-img {
        .image-border;
        img, input {
            display: none;
        }
    }
}

#image-viewport {
    border: 1px solid;
    float:left;
    cursor: move;
}

#image-miniframe div {
    border: 1px solid;
    border-left: 0px;
    cursor: move;
}

.fixed-bar{
    position:fixed;
}

div.seg-view>#image-preview {
    margin-left: 130px;
}


// Based on the Twitter bootstrap but with customised colouring
.progress {
    height: 20px;
    margin: 5px 0;
    margin-right: 10px;
    #gradient(@progressBgStart, @progressBgEnd);
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
    .border-radius(8px);
    overflow: hidden;
    .bar {
        line-height: 20px;
        height: 20px;
        color: @white;
        text-align: right;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        &.none {
            background: @lightGrey;
            color: @darkGrey;
            padding-left: 5px;
        }
        &.red {
            background: @red;
        }
        &.orange {
            background: @orange;
        }
        &.yellow {
            background: @yellow;
            color: @darkGrey;
        }
        &.green {
            background: @green;
        }
    }
}

#query-input {
    width: 200px;
}

.search-box {
    position: absolute;
    background: @brightBlue;
    opacity: 0.5;
    z-index: 500;
}

dl {
    dt {
        font-weight: bold;
    }
}

span.error {
    color: @red;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    div {
        .border-radius(5px);
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -(@modalHeight / 2);
        margin-left: -(@modalWidth / 2);
        width: @modalWidth;
        height: @modalHeight;
        #gradient(@white, @lightGrey);
        p {
            text-align: center;
            padding: 20px 0;
        }
    }
}

#previous_structure {
    font-weight:bold;
}
