@import "variables.less";
@import "grid.less";
@import "mixins.less";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    overflow: hidden;
}

#navbar {
    height: @navbarHeight;
    width: 100%;
    #gradient(@navbarBgStart, @navbarBgEnd);
    ul {
        height: 100%;
        list-style-type: none;
        li {
            line-height: 40px;
            display: inline-block;
            &.title {
                background-image: url('../img/rodan.png');
                background-position: 10px 2px;
                background-repeat: no-repeat;
                padding-left: 80px;
                padding-right: 20px;
                font-size: 1.5em;
                text-shadow: @navbarTitleShadow 0 1px 0;
                position: relative;
                top: 2px;
            }
            padding: 0 10px;
            text-shadow: @navbarTextShadow 0 1px 0;
            a {
                color: @white;
                text-decoration: none;
                &:hover {
                    color: @navbarTextHover;
                }
            }
        }
    }
}

p {
    margin: 10px 0;
}

#wrap {
    position: absolute;
    top: @navbarHeight;
    bottom: 0px;
    width: 100%;
}

#sidebar {
    &:empty {
        display: none;
    }
    position: absolute;
    overflow-y: auto;
    left: 0px;
    top: 0px;
    height: 100%;
    width: @sidebarWidth;
    background: @sidebarBg;
    h2 {
        font-size: 1.1em;
        text-transform: uppercase;
        padding: 10px;
        border-bottom: 1px solid @sidebarInset;
        color: @sidebarTitle;
    }
    ul {
        list-style-type: none;
        width: 100%;
        li a {
            display: block;
            height: @sidebarItemHeight;
            line-height: @sidebarItemHeight;
            padding-left: 10px;
            text-decoration: none;
            color: @sidebarItemText;
            &:hover {
                background: @sidebarItemHoverBg;
            }
        }
    }
}

#content {
    position: absolute;
    height: 100%;
    left: @sidebarWidth;
    right: 0px;
    background: @contentBg;
    section {
        padding: 20px;
    }
    overflow-y: auto;
    a {
        color: @linkText;
        text-decoration: none;
        &:hover {
            color: @linkHoverText;
            text-decoration: underline;
        }
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

#create-form {
    display: none;
    #form;
}

#dialog {
    position: relative;
    width: @dialogWidth;
    margin: 50px auto;
    border: 2px solid @dialogFrameBg;
    .border-radius(5px);
    background: @dialogBg;
    padding: 20px;
    form {
        #form;
    }
}

.errors {
    background: @errorBg;
    width: 380px;
    padding: 20px;
    ul {
        margin-left: 20px;
    }
    margin-bottom: 20px;
    .border-radius(5px);
}

.center-align {
    text-align: center;
}

#masthead {
    margin-top: 20px;
    .center-align;
    h1 {
        font-size: 5.0em;
        color: @darkGrey;
    }
    p {
        font-size: 1.5em;
        color: @mediumGrey;
    }
}

.one-third {
    .column(4);
}

.entire {
    .column(12);
}

.two-thirds {
    .column(8);
}

.blue-block {
    background: @lightBlue;
    .border-radius(10px);
    .large {
        font-size: 1.9em;
        color: @darkGrey;
        font-weight: bold;
    }
    section {
        padding: 10px;
    }
    ul {
        margin-left: 20px;
        li {
            color: @mediumGrey;
            span {
                color: @darkGrey;
            }
        }
    }
    margin-bottom: 40px;
}

.row {
    clear: both;
}

#main-line-graph {
    .column(12);
}

#workers {
    list-style-type: none;
    text-align: center;
    li {
        position: relative;
        display: inline-block;
        height: 120px;
        border: 1px solid @workerFrame;
        padding: 5px;
        margin: 0 5px;
        div {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background: @workerBg;
            &.green {
                background: @green;
            }
            &.yellow {
                background: @yellow;
            }
            &.orange {
                background: @orange;
            }
            &.red {
                background: @red;
            }
            .queue-size {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
        .worker-name {
            position: relative;
            top: 110px;
            color: @workerText;
        }
    }
}

table {
    width: 100%;
    border: 1px solid @lightGrey;
    border-left: 0;
    border-spacing: 0;
    th, td {
        padding: 8px;
        line-height: 18px;
        text-align: left;
        border-left: 1px solid @lightGrey;
    }
    th {
        border-bottom: 1px solid @lightGrey;
    }
}
