// Pre-defined colours
@white:                 #FFF;
@black:                 #000;

// Colours for various elements
@navbarBgStart:         #34A3ED;
@navbarBgEnd:           #2595FF;
@sidebarBg:             #DDD;
@contentBg:             #FAFAFA;
@createBg:              #EEE;
@createFrame:           #CCC;
@createText:            #333;
@createHoverBg:         #F2F2F2;
@createHoverText:       #111;

// Dimensions for the elemnents
@navbarHeight:          45px;
@sidebarWidth:          220px;
@sidebarItemHeight:     30px;

// For the grid
@column-width:          60;
@gutter-width:          40;
@columns:               12;

@total-width:           100%;
