*.pyc
db.sqlite
*.swp
*.tif
*.tiff
*.cib
*.xcodeproj/*
.XcodeSupport/*
rodan.log
rodan_env
.DS_Store
rodan/migrations/*
gunicorn_start.sh
celery_start.sh
rodan/settings_production.py
rodan/static/Rodan

/.DS_Store

# autoconf
configure
config.status
config.log
autom4te.cache

# ignore emacs autosave file
*~
