*.pyc
db.sqlite
*.swp
*.tif
*.tiff
*.cib
*.xcodeproj/*
.XcodeSupport/*
rodan.log
rodan_env
.DS_Store
rodan/static/Rodan
rodan/jobs/diva_wrapper/
rodan/jobs/gamera_rodan/
rodan/jobs/interactive_classifier
rodan/jobs/jSymbolic-Rodan/
rodan/jobs/pil-rodan/

/.DS_Store

# ignore emacs autosave file
*~
database.log
celery.log
.idea

# Ignore environment variables.
config/production.env
