*.pyc
db.sqlite
*.swp
*.tif
*.tiff
*.cib
*.xcodeproj/*
.XcodeSupport/*
rodan.log
rodan_env
.DS_Store
rodan/migrations/*
gunicorn_start.sh
celery_start.sh
rodan/settings_production.py
rodan/static/Rodan

/.DS_Store

# autoconf
configure
config.status
config.log
autom4te.cache

etc/supervisor/conf.d/rodan.conf
etc/supervisor/conf.d/rodan-celery.conf
etc/supervisor/conf.d/iipserver.conf
etc/nginx/sites-available/rodan_with_diva
etc/nginx/sites-available/rodan_without_diva

# ignore emacs autosave file
*~
