language: python
branches:
    only:
        - develop
git:
    submodules: false
services: 
    - rabbitmq
python:
    - "2.7"
install: 
    - pip install https://www.djangoproject.com/download/1.7.b4/tarball/
    - pip install -r requirements.txt
before_script: 
    - mv rodan/settings_production.py.example rodan/settings_production.py
    - python manage.py makemigrations rodan
    - python manage.py syncdb --noinput
    - rabbitmq-server -detached
script: python manage.py test

notifications:
  email:
    recipients:
      - ruth.berkow@mail.mcgill.ca
    on_failure: change
