Django==1.4.2
Fabric==1.4.2
PIL==1.1.7
Werkzeug==0.8.3
amqplib==1.0.2
anyjson==0.3.1
#border-removal==2.2.0pre2
celery==2.5.3
distribute==0.6.19
django-celery==2.5.5
django-celery-transactions==0.1.2
django-extensions==1.0.1
django-picklefield==0.2.1
django-tastypie==0.9.11
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20110405
#gamera==3.3.3
ipython==0.13.1
kombu==2.1.8
#lyric-extraction==2.2.0pre2
mimeparse==0.1.3
#music21==1.3.0
#musicstaves==1.3.7
psycopg2==2.4.5
pycrypto==2.6
# pymei==2.0
pyparsing==1.5.6
python-dateutil==1.5
readline==6.2.2
solrpy==0.9.5
ssh==1.7.14
wsgiref==0.1.2
#wxPython==2.9.4.0
#wxPython-common==2.9.4.0
