Django==1.5.1
Fabric==1.6.0
Markdown==2.3.1
PIL==1.1.7
PyYAML==3.10
South==0.7.6
Spawning==0.9.7
Werkzeug==0.8.3
amqp==1.0.10
amqplib==1.0.2
anyjson==0.3.3
background-estimation==2.2.0pre2
billiard==2.7.3.23
border-removal==2.2.0pre2
celery==3.0.17
distribute==0.6.35
django-celery==3.0.17
django-celery-transactions==0.1.3
django-extensions==1.1.1
django-filter==0.6
django-guardian==1.1.0.beta
django-picklefield==0.3.0
django-uuidfield==0.4.0
djangorestframework==2.2.5
eventlet==0.12.1
flower==0.4.3
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20110405
gamera==3.4.0
greenlet==0.4.0
ipython==0.13.1
jsonfield==0.9.13
kombu==2.5.8
lxml==3.2.1
lyric-extraction==2.2.0pre2
mimeparse==0.1.3
musicstaves==1.3.8
paramiko==1.10.0
psycopg2==2.4.6
py==1.4.13
pycrypto==2.6
pyparsing==1.5.6
pypng==0.0.15
pytest==2.3.4
python-dateutil==2.1
pytz==2013b
readline==6.2.4.1
rodan-plugins==3.0.1
six==1.3.0
solrpy==0.9.5
ssh==1.8.0
staffline-removal==2.2.0pre2
tornado==3.0
wsgiref==0.1.2
