<div class="fixed_individual">
    <label for="text-user_firstname">First name:</label>
    <input type="text" class="form-control input-sm" id="text-user_firstname" value="<%= _.unescape(first_name) %>" name="text-user_firstname">
    <label for="text-user_lastname">Last name:</label>
    <input type="text" class="form-control input-sm" id="text-user_lastname" value="<%= _.unescape(last_name) %>" name="text-user_lastname">
    <label for="text-user_email">Email:</label>
    <input inputmode="email" type="email" class="form-control input-sm" id="text-user_email" value="<%= _.unescape(email) %>" name="text-user_email">
    <div class="checkbox" id="div-user_preference">
        <label><input id="checkbox-send_email" type="checkbox" value="">Receive Rodan notifications via email</label>
    </div>
    <div id="div-user_preference_loading">Waiting for user preferences to load.</div>
    <div class="btn-group" role="group">
        <button class="btn btn-xs btn-warning" id="button-save_user">Save</button>
        <button class="btn btn-xs btn-warning" id="button-change_password">Change Password</button>
    </div>
</div>
