{% comment %}
A reusable form snippet. Include it in any template file that has a {{ form }}
instance (or use the `with` keyword).

The start and end tags for the form are defined in main.html, and will only
appear if {{ form }} is truthy.
{% endcomment %}

{% autoescape off %}
    {% csrf_token %}
    {% if form.errors %}
    <div class="errors">
        <p>There were errors with the submission!</p>
        {{ form.errors }}
    </div>
    {% endif %}
    {% for field in form %}
        <fieldset>
        {% if field.help_text %}<p>{{ field.help_text }}</p>{% endif %}
        <label for="{{ field.html_name }}">{{ field.label }}</label>
        {{ field }}
        </fieldset>
    {% endfor %}
    <fieldset class="submit">
        {% if submits %}
            {% for submit in submits %}
                <input type="submit" name="action" value="{{ submit }}" />
            {% endfor %}
        {% else %}
            <input type="submit" name="action" value="Submit" />
        {% endif %}
    </fieldset>
{% endautoescape %}
