{% load extras %}

<h2>Status of jobs</h2>

{% if workflows.count %}
<table>
    <tr>
        <th>Workflow</th>
        <th>Status</th>
    </tr>
    {% if workflows.count > 1 %}
    <tr>
        <td>Total</td>
        <td width="70%">{% progress_bar percent_done %}</td>
    </tr>
    {% endif %}
    {% for workflow in workflows %}
    <tr>
        <td><a href="{{ workflow.get_absolute_url }}">{{ workflow }}</a></td>
        <td>{% progress_bar workflow.get_percent_done %}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>You have no workflows! Create one by uploading images and following the instructions.</p>
{% endif %}

<h2>Running tasks</h2>

{% if current_jobs %}
<table>
    <tr>
        <th>Job</th>
        <th>Page</th>
        <th>Time in queue</th>
    </tr>
    {% for current_job in current_jobs %}
    <tr>
        <td>{{ current_job.job_item.job }}</td>
        <td><a href="{{ current_job.page.get_absolute_url }}">{{ current_job.page }}</a></td>
        <td><span class="tick">{{ current_job.get_time_in_queue }}</span> seconds</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No jobs are currently running.</p>
{% endif %}
