html
  block head
    title Select IIIF Manifest
    block scripts
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
  block body
    section.section
      .container.level
        h1.title.level-item Select IIIF Manifest to Use
    section.section.level
      .level-item
        form(action='/add-iiif', enctype='application/x-www-form-urlencoded', method='post')
          .field
            .control
              label.label URL to the IIIF Manifest
              input(type='url', name='manifest', required='true')
          .field
            .control
              label.label Revision Code for Neon Usage
              input(type='text', name='revision', required='true')
          .field
            .control
              input.button.is-link(type='submit', value='Select Manifest')
    section.section.level
      .level-item
        h3.has-text-danger= messages
