html
  head
    title Neon
    script(src='//d3js.org/d3.v5.min.js')
    script(src='//unpkg.com/bulma-slider@2.0.0/dist/js/bulma-slider.min.js')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css')
    link(rel='stylesheet' href='//unpkg.com/bulma-slider@2.0.0/dist/css/bulma-slider.min.css')
    link(rel='stylesheet' href='/Neon/assets/style.css')
  body
      script(type='text/javascript').
        var manifestText = decodeURIComponent("#{manifest}");

        function hotkeyDialog() {
          alert(
            "Hotkey : Action\n\n" +
            "+ : Zoom in\t\ts : Save File\t\tCtrl-z or \u{2318}-z : Undo\n" +
            "\u{2013} : Zoom out\t\th : Hide MEI\t\tCtrl-Z or \u{2318}-Z : Redo\n" +
            "0 : Zoom reset\tEsc : Return to Edit Mode\n\n1/2/3/4 : Select by Syllable/Neume/Neume Component/Staff\n\n" +
            "Shift+Number : Begin Insert for the nth option in the selected tab");
        }

        function getHeight() {
          alert(window.innerHeight);
        }
      script(src='/Neon/editor.js')
