<!DOCTYPE html>
<html ng-app="rodanTestApp">
  <head>
    <meta charset="utf-8" />
    <title>Rodan Test Client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div class="container">
      <section class="row" ng-controller="projectsCtrl">
        <h1>Projects</h1>
        <div class="col-xs-8">
          <table class="table">
            <tr ng-repeat="p in projects">
              <td ng-bind="p.name"></td>
              <td><button ng-click="deleteProject(p)">Delete</button></td>
            </tr>
          </table>
        </div>
        <div class="col-xs-4">
          <form ng-submit="newProject()">
            <fieldset>
              <legend>New Project</legend>
              <input type="name" placeholder="Project Name" ng-model="name"/>
              <button type="submit">Submit</button>
            </fieldset>
          </form>
        </div>
      </section>
      <section class="row" ng-controller="resourcesCtrl">
        <h1>Resources</h1>
        <div class="col-xs-8">
          <table class="table">
            <tbody>
              <tr ng-repeat="r in resources" ng-class="{success: r.processing_status == 4, danger: r.processing_status == -1, active: r.processing_status == 1}">
                <td>
                  <span ng-show="!r.compat_resource_file">{{ r.uuid | limitTo: 6 }}</span>
                  <a ng-show="r.compat_resource_file" ng-href="{{r.compat_resource_file}}" target="_blank">{{ r.uuid | limitTo: 6 }}</a>
                  <span ng-show="r.origin">[generated]</span>
                </td>
                <td>
                  <div>Name: {{r.name}}</div>
                  <div>Type: {{ resourcetypes_hash[r.resource_type].mimetype }}</div>
                </td>
                <td><img ng-show="r.has_thumb" ng-src="{{r.small_thumb}}" /><em ng-show="!r.has_thumb">No thumbnail</em></td>
                <td><button ng-click="deleteResource(r)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-4">
          <form ng-submit="newResource()">
            <fieldset>
              <legend>New Resource</legend>
              <label>Project: <select ng-model="project" ng-options="p.url as p.name for p in projects"></select></label>
              <input type="file" file-model="file" />

              <button type="submit">Submit</button>
            </fieldset>
          </form>
        </div>
      </section>
      <section class="row" ng-controller="workflowsCtrl">
        <h1>Workflows</h1>
        <div class="col-xs-8">
          <table class="table">
            <tbody>
              <tr ng-repeat="w in workflows" ng-class="{success: w.valid, danger: !w.valid}">
                <td ng-bind="w.uuid"></td>
                <td ng-bind="w.name"></td>
                <td><button ng-click="validateWorkflow(w)">Validate</button><button ng-click="deleteWorkflow(w)">Delete</button><button ng-click="runWorkflow(w)">Run</button><button ng-click="runWorkflow(w, true)">Test run</button></td>
                <td>
                  <a ng-href="{{w.url + '?export=true&format=json'}}" target="_blank">Export</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-4">
          <div>
            <label>Project: <select ng-model="project" ng-options="p.url as p.name for p in projects"></select></label>
          </div>
          <form ng-submit="newToGreyscaleWorkflow()">
            <fieldset>
              <legend>New to_greyscale Workflow</legend>
              <div><label>Resources: <select ng-model="resources_greyscale" ng-options="r.url as (r.name + '--' + r.uuid.slice(0, 6)) for r in resources" multiple></select></label></div>
              <input type="name" placeholder="Workflow Name" ng-model="name_greyscale"/>
              <button type="submit">Submit</button>
            </fieldset>
          </form>
          <form ng-submit="newToOnebitWorkflow()">
            <fieldset>
              <legend>New to_onebit Workflow</legend>
              <div><label>Resources: <select ng-model="resources_onebit" ng-options="r.url as (r.name + '--' + r.uuid.slice(0, 6)) for r in resources" multiple></select></label></div>
              <input type="name" placeholder="Workflow Name" ng-model="name_onebit"/>
              <button type="submit">Submit</button>
            </fieldset>
          </form>
          <form ng-submit="newRotateCropWorkflow()">
            <fieldset>
              <legend>New rotate & crop Workflow</legend>
              <div><label>Resources: <select ng-model="resources_rotatecrop" ng-options="r.url as (r.name + '--' + r.uuid.slice(0, 6)) for r in resources" multiple></select></label></div>
              <input type="name" placeholder="Workflow Name" ng-model="name_rotatecrop"/>
              <button type="submit">Submit</button>
            </fieldset>
          </form>
          <form ng-submit="newDespeckleWorkflow()">
            <fieldset>
              <legend>New despeckle (interactive) Workflow</legend>
              <div><label>Resources (select onebit): <select ng-model="resources_despeckle" ng-options="r.url as (r.name + '--' + r.uuid.slice(0, 6)) for r in resources" multiple></select></label></div>
              <input type="name" placeholder="Workflow Name" ng-model="name_despeckle"/>
              <button type="submit">Submit</button>
            </fieldset>
          </form>
          <form ng-submit="newPolyMaskWorkflow()">
            <fieldset>
              <legend>New polymask Workflow</legend>
              <div><label>Resources (select onebit): <select ng-model="resources_polymask" ng-options="r.url as (r.name + '--' + r.uuid.slice(0, 6)) for r in resources" multiple></select></label></div>
              <input type="name" placeholder="Workflow Name" ng-model="name_polymask"/>
              <button type="submit">Submit</button>
            </fieldset>
          </form>
          <form ng-submit="newSegmentationWorkflow()">
            <fieldset>
              <legend>New segmentation Workflow</legend>
              <div><label>Resources (select onebit): <select ng-model="resources_segmentation" ng-options="r.url as (r.name + '--' + r.uuid.slice(0, 6)) for r in resources" multiple></select></label></div>
              <input type="name" placeholder="Workflow Name" ng-model="name_segmentation"/>
              <button type="submit">Submit</button>
            </fieldset>
          </form>
          <form ng-submit="newPixelSegmentWorkflow()">
            <fieldset>
              <legend>New pixelsegment Workflow</legend>
              <div><label>Resources: <select ng-model="resources_pixelsegment" ng-options="r.url as (r.name + '--' + r.uuid.slice(0, 6)) for r in resources" multiple></select></label></div>
              <input type="name" placeholder="Workflow Name" ng-model="name_pixelsegment"/>
              <button type="submit">Submit</button>
            </fieldset>
          </form>
          <form ng-submit="newCompleteWorkflow()">
            <fieldset>
              <legend>New complete Workflow</legend>
              <div><label>Resources: <select ng-model="resources_complete" ng-options="r.url as (r.name + '--' + r.uuid.slice(0, 6)) for r in resources" multiple></select></label></div>
              <input type="name" placeholder="Workflow Name" ng-model="name_complete"/>
              <button type="submit">Submit</button>
            </fieldset>
          </form>
        </div>
      </section>
      <section class="row" ng-controller="workflowrunsCtrl">
        <h1>WorkflowRuns & RunJobs</h1>
        <div ng-repeat="wfrun in workflowruns" class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{wfrun.workflow_name}} @ {{wfrun.created}} <sub>({{wfrun.uuid}})</sub></h3>
              <b ng-show="wfrun.test_run">test run</b> for <code>{{ wfrun.workflow || "[DELETED]" }}</code>
              <b>Status: {{status[wfrun.status]}}</b>
              <button ng-click="retryWorkflowRun(wfrun)">Retry</button>
              <button ng-click="cancelWorkflowRun(wfrun)">Cancel</button>
              <br />
              <b>Package results --</b>
              packaging mode:
              <select ng-model="packaging_mode" ng-init="packaging_mode = 0">
                <option ng-value="0">0</option>
                <option ng-value="1">1</option>
                <option ng-value="2">2</option>
              </select>
              <button ng-click="packageResults(wfrun, packaging_mode)">Package Results</button>
              <button ng-click="packageResults(wfrun, packaging_mode, 10000)">Package Results (expire in 10sec)</button>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr ng-repeat="rj in runjobs[wfrun.url]" ng-class="{success: rj.status == 4, danger: rj.status == -1, active: rj.status == 1}">
                  <td ng-bind="rj.job_name"></td>
                  <td>
                    <p ng-bind="status[rj.status]"></p>
                    <a ng-show="rj.status == 2" ng-href="{{rj.interactive_url}}" target="_blank">Interactive</a>
                    <div ng-show="rj.status == -1">
                      <b>{{rj.error_summary}}</b>
                      <pre><code>{{rj.error_details}}</code></pre>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>
      <section class="row" ng-controller="resultspackageCtrl">
        <h1>ResultsPackages</h1>
        <div class="col-xs-12">
          <table class="table">
            <tbody>
              <tr ng-repeat="rp in resultspackages" ng-class="{success: rp.status == 4, danger: rp.status == -1, active: rp.status == 1, info: rp.status == 8}">
                <td>
                  <p>For WorkflowRun {{rp.workflow_run}} <code>mode={{rp.packaging_mode}}</code></p>
                  <div ng-show="rp.status == -1">
                    <code>{{rp.error_summary}}</code>
                    <pre><code>{{rp.error_details}}</code></pre>
                  </div>
                </td>
                <td>{{rp.percent_completed}}%</td>
                <td ng-bind="status[rp.status]"></td>
                <td><a ng-href="{{rp.package_url}}" target="_blank">Download</a></td>
                <td><button ng-click="cancelResultsPackage(rp)">Cancel</button><button ng-click="deleteResultsPackage(rp)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </body>
</html>