h5py==2.10.0; python_version < "3.4"
h5py~=3.1.0; python_version > "3.4"
html5lib==0.9999999
Keras==2.3.1
numpy==1.16.6; python_version < "3.4"
numpy==1.19.2; python_version > "3.4"
scipy>=1.0.0
six>=1.12.0
