<div class="media job-item" id="{{ job.slug }}-{{ forloop.counter0 }}" data-input-type="{{ job.get_object.input_type }}" data-output-type="{{ job.get_object.output_type }}" data-id="{{ job.slug }}" sequence-index="{{ forloop.counter0 }}">
    <a class="pull-left">
        <img class="media-object" src="http://placehold.it/64x64" />
    </a>
    <div class="media-body">
        <h4>{{ job }} 
            {% if job.get_object.is_required %} 
                <small class="label label-important">Required </small>
            {% endif %}
        </h4>
        <p>
            <em>{{ job.get_object.description }}</em>
            {% if add %}
                <a href="#" data-jobnode="{{ job.slug }}-{{ forloop.counter0 }}" class="btn btn-mini btn-success add-job"><i class="icon-plus-sign icon-white"></i> Add to Workflow</a>
            {% elif remove %}
                <a href="#" data-jobnode="{{ job.slug }}-{{ forloop.counter0 }}" class="btn btn-mini btn-warning remove-job"><i class="icon-minus-sign icon-white"></i> Remove from Workflow</a>
            {% endif %}

            {% if false %}
                <span> :: </span>
                <a href="#" class="edit-parameters">Edit&nbsp;default&nbsp;parameters</a>
            {% endif %}
        </p>
    </div>
</div>
