{% load extras %}

<h2>Status of jobs</h2>

{% if workflows.count %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Workflow</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% if workflows.count > 1 %}
        <tr>
            <td>Total</td>
            <td width="70%">{% progress_bar percent_done %}</td>
        </tr>
    {% endif %}
    {% for workflow in workflows %}
        <tr>
            <td><a href="{{ workflow.get_absolute_url }}">{{ workflow }}</a></td>
            <td>{% progress_bar workflow.get_percent_done %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>You have no workflows! Create one by uploading images and following the instructions.</p>
{% endif %}

<h2>Running tasks</h2>

{% if current_jobs %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Job</th>
            <th>Page</th>
            <th style="width: 50%;">Time in queue</th>
        </tr>
    </thead>
    <tbody>
    {% for current_job in current_jobs %}
        <tr>
            <td>{{ current_job.job_item.job }}</td>
            <td><a href="{{ current_job.page.get_absolute_url }}">{{ current_job.page }}</a></td>
            <td><span class="tick" data-result-id="{{ current_job.id }}">{{ current_job.get_time_in_queue }}</span> seconds</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No jobs are currently running.</p>
{% endif %}
