#numpy==1.17.3; python_version > "3.4"
git+https://github.com/timothydereuse/calamari@calamari/2.1#egg=calamari_ocr; python_version > "3.4"
scipy; python_version > "3.4"
Unidecode==1.0.22; python_version > "3.4"
