<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% if (isCloseable) { %>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <% } %>
                <h4 class="modal-title"><%- title %></h4>
            </div>
                <% if (isHiddenObject) { %>
            <input type="file" id="inputFile"></input>
                <% } %>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
