<!-- FILTER CONTROLS -->
<div class="content-wrapper column-content region-main-section table-control filters">
	<div id="table-filters-header-container" class="content-wrapper row-content">
		<div id="filter-inputs-title">TABLE FILTERS</div>
		<img id="filter-inputs-dropdown-btn" src="../../../../resources/images/dropdown-arrow.svg">
	</div>
	<!-- Filter inputs -->
	<div id="filter-inputs-wrapper" class="content-wrapper row-content hidden">
		<form class="content-wrapper row-content" id="filter-inputs" action="javascript:void(0);">
			<!-- Filter options will appear here. -->
		</form>
	</div>
</div>

<!-- PAGINATION CONTROLS -->
<div class="content-wrapper column-content region-main-section table-control pagination">
	<div id="table-pagination-controls-wrapper" class="content-wrapper column-content">
		<button type="button" class="btn pagination-btn" id="pagination-first">First</button>
		<button type="button" class="btn pagination-btn" id="pagination-previous">Previous</button>
		<button type="button" class="btn pagination-btn" id="pagination-next">Next</button>
		<button type="button" class="btn pagination-btn" id="pagination-last">Last</button>
	</div>
	<select id="pagination-select">
		<span id="pagination-select-text">Page</span>
	</select>
</div>