/*Stylizing Pixel*/
.layer-div {
  display: inline-block;
  position: relative;
}

.selected-layer {
  position: relative;
}

.layer-div input {
  padding-left: 95px;
  border: 3px solid #414141;
  background-color: #ececec;
}

.selected-layer input {
  padding-left: 95px;
  color: white;
  background: rgb(181,189,200); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgb(93, 99, 143) 36%, rgb(5, 5, 5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%, rgb(96, 99, 146) 36%, rgb(2, 3, 4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(181,189,200,1) 0%, rgb(88, 90, 122) 36%, rgb(18, 18, 18) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

.color-box {
  width: 6px;
  height: 20px;
  display: inline-block;
  background-color: #ccc;
  border-right-style: solid;
  border-left-style: solid;
  border-color: black;
  position: absolute;
  left: 15px;
  top: 0px;
}

.unchecked-layer-settings {
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  left: 7px;
  top: 7px;
  border-style: solid;
  border-width: 3px 0 3px 5px;
}

.checked-layer-settings {
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  left: 7px;
  top: 7px;
  border-style: solid;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid transparent;
}

.layer-div .unchecked-layer-settings {
  border-color: transparent transparent transparent #000000;
}

.layer-div .layer-deactivated {
  display: inline-block;
  position: absolute;
  left: 200px;
  top: 5px;

  color: #14396A !important;
  box-shadow: 1px 1px 1px #C3E7FF;
  padding: 4px 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #09001C;
  background: #090A1C;
  background: linear-gradient(top,  #757575,  #000000);
  background: -ms-linear-gradient(top,  #757575,  #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#000000));
  background: -moz-linear-gradient(top,  #757575,  #000000);

}

.layer-div .layer-activated {
  display: inline-block;
  position: absolute;
  left: 200px;
  top: 5px;

  color: #14396A !important;
  box-shadow: 1px 1px 1px #C3E7FF;
  padding: 4px 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #09001C;

  background: rgb(246,249,250); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(246,249,250,1) 0%, rgba(229,235,239,1) 50%, rgba(205,216,223,1) 51%, rgba(235,245,251,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(246,249,250,1) 0%,rgba(229,235,239,1) 50%,rgba(205,216,223,1) 51%,rgba(235,245,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(246,249,250,1) 0%,rgba(229,235,239,1) 50%,rgba(205,216,223,1) 51%,rgba(235,245,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9fa', endColorstr='#ebf5fb',GradientType=0 ); /* IE6-9 */
}

.layer-div .checked-layer-settings {
  border-top: 5px solid rgba(50, 50, 50, 0.95);
}

.selected-layer .unchecked-layer-settings {
  border-color: transparent transparent transparent #ffffff;
}

.selected-layer .checked-layer-settings {
  border-top: 5px solid #ffffff;
}

.layer-tool {
  display: inline-block;
  background-color: rgba(135, 135, 135, 0.91);
  -webkit-margin-start: 0px;
  width: 157px;
  position: relative;
  padding-left: 70px;
}

.layer-tool p {
  display: inline-block;
  font-family: sans-serif;
  font: icon;
  background-color: #616073;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  color: white;
  text-align: center;
  height: 100%;
  position: absolute;
  left: 0px;
  width: 60px;
  font-size: x-small;
  line-height: 20px;
}

.layer-tool .layer-tool-slider {
  display: inline-block;
  position: inherit;
}

.export-div {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #333333;
  opacity: 0.9;
  overflow-y: hidden;
  transition: 1s;
}

.pbar-outer-div {
  width: 20%;
  height: 10px;
  border: 1px solid grey;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  top: 28%;
  left: 40%;
  z-index: 10;
}

.pbar-inner-div {
  background-color: white;
  z-index: 2;
  height: 100%;
  width: 0%;
}

.pbar-inner-text {
  z-index: 3;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  font: icon;
  color: white;
  font-size: xx-large;
}

.pbar-export-text {
  z-index: 3;
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  font: icon;
  color: white;
  font-size: xx-large;
}

.cancel-export-div {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  font: icon;
  color: white;
  font-size: large;
  border: 2px solid white;
  height: initial;
  cursor: default;
}

.cancel-export-div:hover {
  background-color: white;
  color: #333333;
}

.pixel-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.export-download {
  border: 2px;
  border-style: solid;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
  text-align: center;
  background-color: grey;
  color: white;
  border-radius: 2px;
  font-family: sans-serif;
  font-size: small;
}

kbd {
  display: inline-block;
  margin: 0 .1em;
  padding: .1em .6em;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 11px;
  line-height: 1.4;
  color: #242729;
  text-shadow: 0 1px 0 #FFF;
  background-color: #e1e3e5;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
  white-space: nowrap;
}

#tutorial-div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#tutorial-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  padding-left: 30%; /* Location of the box */
  left: 0;
  top: 0;
  width: 40%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  background: white;
  border-radius: 20px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-footer:hover,
.modal-footer:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: white;
  text-align: center;
  background: rgb(47, 47, 47); /* Old browsers */
  background: -moz-linear-gradient(bottom, rgb(13, 13, 13) 0%, rgb(84, 84, 84) 50%, rgb(74, 74, 74) 51%, rgb(189, 189, 189) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgb(13, 13, 13) 0%, rgb(84, 84, 84) 50%, rgb(74, 74, 74) 51%, rgb(189, 189, 189) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgb(13, 13, 13) 0%, rgb(84, 84, 84) 50%, rgb(74, 74, 74) 51%, rgb(189, 189, 189) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
  text-align: center;
  background: rgb(47, 47, 47); /* Old browsers */
  background: -moz-linear-gradient(bottom, rgb(13, 13, 13) 0%, rgb(84, 84, 84) 50%, rgb(74, 74, 74) 51%, rgb(155, 155, 155) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgb(13, 13, 13) 0%, rgb(84, 84, 84) 50%, rgb(74, 74, 74) 51%, rgb(155, 155, 155) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgb(13, 13, 13) 0%, rgb(84, 84, 84) 50%, rgb(74, 74, 74) 51%, rgb(155, 155, 155) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

#brush-cursor-div {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #666666;
  border-radius: 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;

  width: 8px;
  height: 8px;

  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

#brush-cursor-div.filled {
  background-color: #666666;
}

.rectangle {
  position: absolute;
}

/* Radio buttons */

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: darkgray;
  background-color: #ececec;
  display: inline-block;
  cursor: pointer;
  padding: 3px 20px;
  font-family: sans-serif;
  font: icon;
}

input[type="radio"]:checked + label {
  color: white;
  background: black; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgb(93, 99, 143) 36%, rgb(5, 5, 5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%, rgb(96, 99, 146) 36%, rgb(2, 3, 4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(181,189,200,1) 0%, rgb(88, 90, 122) 36%, rgb(18, 18, 18) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

label + input[type="radio"] + label {
  border-left: solid 3px #414141;
}

.tool-selector {
  border: 3px solid #414141;
  display: inline-block;
  margin: 5px 0px 3px 0px;
  overflow: hidden;
}

/* Stylizing undo, redo buttons*/
button {
  background-color: #414141;
  border: none;
  color: white;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font: icon;
  margin: 4px 2px;
  cursor: pointer;
}

/* For controlling the brush size slider's visibility */
#brush-size {
  visibility: hidden;
}

/* For Tutorial Gifs*/
.tutorial-image {
  width: 100%;
}

#tutorial-progress {
  position: absolute;
  right: 10px;
  bottom: 60px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font: icon;
    padding: 1px 4px;
    margin-left: 2px;
    background-color: #414141;
}

.tooltip:hover {
  color: tomato;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 30em;
    background-color: #414141;
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    left: 570%;
    bottom: 0%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}

/* Tooltip arrow */
.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: -1%;
    margin-left: -6px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #414141 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}