<div class="content-wrapper column-content">

    <div class="content-wrapper column-content region-main-section region-main-header">
        <div id="region-main-header" class="content-wrapper row-content">
            <div class="region-main-content-title">My Projects</div>
        </div>
    </div>
    
    <div class="content-wrapper row-content">
        <div id="region-main_layoutview_model_collection" class="col-xs-8"></div>
        <div class="content-wrapper column-content">
            <div id="region-main_layoutview_model_item" class="col-xs-4"></div>
            <div id="region-main_layoutview_model_collection_item"></div>
        </div>
    </div>
</div>