<p>View the measures encoded in the resulting <a href="{{ context.mei_path }}">MEI file</a>.</p>
{% csrf_token %}
<fieldset class="submit">
    <input type="submit" name="submit" value="Done" class="submit" />
</fieldset>
<div id="imview"></div>
<script src="{{ STATIC_URL }}js/kinetic-v3.10.2.min.js"></script>
<script src="{{ STATIC_URL }}js/Stats.js"></script>
<script src="{{ STATIC_URL }}js/show_stats.js"></script>
<script src="{{ STATIC_URL }}js/barline-correction.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // derive background image name from mei
        $('#imview').barlinecorrection({
            meipath: "{{ context.mei_path }}",
            bgimgpath: "{{ context.bgimgpath }}",
            origwidth: {{ context.orig_width }},
            origheight: {{ context.orig_height }}          
        });
    });
</script>
