<p>Adjust the slider until most speckles are removed</p>
    {% csrf_token %}
    <fieldset class="submit">
        <input type="hidden" name="despeckle_value" value="0" id="size-input" />
        <input type="submit" name="submit" value="Despeckle" class="submit" />
    </fieldset>

<div id="slider"></div>
<div class="images">
    <div class="hidden">
        <img id="image-full" src="{{ original_image }}"/>
        <img id="image-thumb" src="{{ small_thumbnail }}"/>
    </div>
    <canvas id="image-viewport" alt="Image preview"></canvas>
    <div id="image-miniframe"></div>
<script src="{{ STATIC_URL }}js/kinetic-v3.10.2.min.js"></script>
<script src="{{ STATIC_URL }}js/Stats.js"></script>
<script src="{{ STATIC_URL }}js/show_stats.js"></script>
<script src="{{ STATIC_URL }}js/despeckle.js"></script>
