{% extends "jobs/job_base.html" %}

{% block resources %}
<script src="{{ STATIC_URL }}Rodan/Frameworks/RodanKit/Resources/kinetic-v3.10.2.min.js"></script>
<script src="{{ STATIC_URL }}Rodan/Frameworks/RodanKit/Resources/Stats.js"></script>
<script src="{{ STATIC_URL }}Rodan/Frameworks/RodanKit/Resources/show_stats.js"></script>
<script src="{{ STATIC_URL }}Rodan/Frameworks/RodanKit/Resources/luminance.js"></script>
{% endblock %}

{% block body %}
<p>Adjust the sliders to change the brightness, contrast, and degree of colour enhancement of the image. Use the dropdown menu to select the order of operations.</p>
{% csrf_token %}
<fieldset class="submit">
    <input type="hidden" name="brightness" value="1.0" id="brightness-input" />
	<input type="hidden" name="contrast" value="1.0" id="contrast-input" />
	<input type="hidden" name="colour" value="1.0" id="colour-input" />
	<input type="hidden" name="order" value="1" id="ordering-input" />
    <input type="submit" name="submit" value="Submit" class="submit" />
</fieldset>
<select id="ordering">
	<option value="0">Brightness->Contrast->Colour</option>
	<option value="1">Brightness->Colour->Contrast</option>
	<option value="2">Contrast->Brightness->Colour</option>
	<option value="3">Contrast->Colour->Brightness</option>
	<option value="4">Colour->Brightness->Contrast</option>
	<option value="5">Colour->Contrast->Brightness</option>
</select>
<p>Brightness</p>
<div id="brightness-slider"></div>
<p>Contrast</p>
<div id="contrast-slider"></div>
<p>Colour</p>
<div id="colour-slider"></div>
<div class="images">
    <div class="hidden">
        <img id="image-thumb" src="{{ medium_thumbnail }}"/>
    </div>
	<div class="luminance-view">
    	<canvas id="image-preview" alt="Image preview"></canvas>
		<canvas id="image-original" alt="Image original"></canvas>
	</div>
</div>
{% endblock %}
