{% extends "jobs/job_base.html" %}

{% block resources %}
  <title>Neon.js | Editing {{ edit_title }}</title>

    <link href="{{ STATIC_URL }}jobs/neon/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}jobs/neon/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ STATIC_URL }}/jobs/neon/css/neon.css" type="text/css" />

    <!-- EXTERNALS -->
    <script src="{{ STATIC_URL }}jobs/neon/js/support/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jobs/neon/js/support/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jobs/neon/js/support/fabric.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jobs/neon/js/support/mousetrap.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jobs/neon/js/neon.min.js" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function() {

        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
          }
        }
            return cookieValue;
       }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          function sameOrigin(url) {
              // test that a given url is a same-origin URL
              // url could be relative or scheme relative or absolute
              var host = document.location.host; // host + port
              var protocol = document.location.protocol;
              var sr_origin = '//' + host;
              var origin = protocol + sr_origin;
              // Allow absolute or scheme relative URLs to same origin
              return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                  (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                  // or any other URL that isn't scheme relative or absolute i.e relative.
                  !(/^(\/\/|http:|https:).*/.test(url));
          }
          
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                      // Send the token to same-origin, relative URLs only.
                      // Send the token only if the method warrants CSRF protection
                      // Using the CSRFToken value acquired earlier
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });

        $('#neon-wrapper').neon({
          debug: false,
          glyphpath: "{{ STATIC_URL }}/jobs/neon/img/neumes_concat.svg",
          meipath: "{{ live_mei_url }}",
          bgimgpath: "{{ neon_image }}",
          bgimgopacity: 0.0,
          apiprefix: "{{ neon_handler_path }}",
          dwgLib: "{{ neume_library }}", //I'm not sure if this is a 'nueme' library 
          width: {{ force_width }}, // enforce width
        });

    });
    </script>
{% endblock %}

{% block interface_content %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="http://ddmal.music.mcgill.ca/neon">Neon.js</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
            <ul id="nav_file_dropdown" class="dropdown-menu">
            </ul>
          </li>
        </ul>
        <p class="navbar-text pull-right"><a href="#developersModal" data-toggle="modal">Developers</a> | <a href="http://ddmal.music.mcgill.ca/">DDMAL</a></p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<!-- Developers Information Modal -->
<div class="modal fade" id="developersModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
    <h3>Developers</h3>
  </div>
  <div class="modal-body">
    <p>Gregory Burlet</p>
    <p>Alastair Porter</p>
    <hr/>
    <p>View <a href="http://github.com/ddmal/neon.js">source code</a></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span12">
                    <div class="sidebar-nav-fixed">
                        <div class="sidebar-inner">
                            <h1>Editing {{ edit_title|slice:"32:" }}</h1>
                        </div>
                        <div class="sidebar-inner">
                            <div id="neon-sidebar-nav" class="well">
                                <ul id="gui-sidebar" class="nav nav-list">
                                    <form id="awesomeform" action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="run_job_uuid" value="{{ run_job_uuid }}">
                                        <button id="doneediting" class="btn btn-primary" type=submit><i class="icon-ok icon-white"></i> Done</button>
                                    </form>
                                <li class="nav-header">Mode</li>
                                <li>
                                    <div class="btn-group" data-toggle="buttons-radio">
                                        <button id="btn_insert" class="btn btn-primary"><i class="icon-plus icon-white"></i> Insert</button>
                                        <button id="btn_edit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</button>
                                    </div>
                                </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-inner">
                            <div id="info" class="alert alert-block fade">
                                <button class="close" data-dismiss="alert">&times;</button>
                                <h4 class="alert-heading">Information</h4>
                                <p>message</p>
                            </div>
                        </div>
                        <div class="sidebar-nav">
                            <div id="alert" class="alert alert-block alert-error fade">
                                <button class="close" data-dismiss="alert">&times;</button>
                                <h4 class="alert-heading">Oh snap! An error occured!</h4>
                                <p>message</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span9 span-fixed-sidebar">
            <div id="neon-wrapper"></div>
        </div>
  </div>

  <hr>

  <div class="row-fluid">
      <div class="span12">
          <footer>
              <p>&copy; 2012 McGill University | Schulich School of Music | DDMAL</p>
          </footer>
      </div>
  </div>

</div><!--/.fluid-container-->

{% endblock %}
