    <fieldset class="submit">
        <input type="submit" name="submit" value="Done" class="submit" />
    </fieldset>
</form>

<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" />

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="row-fluid">
        <div class="span12">
        <div id="neon-sidebar-nav" class="well sidebar-nav">
          <ul id="gui-sidebar" class="nav nav-list">
          <li class="nav-header">Mode</li>
            <li>
              <div class="btn-group" data-toggle="buttons-radio">
                <button id="btn_insert" class="btn btn-primary"><i class="icon-plus icon-white"></i> Insert</button>
                <button id="btn_edit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</button>
              </div>
            </li>
          </ul>
        </div><!--/.well -->
        </div><!--/span-->
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div id="info" class="alert alert-block fade">
            <button class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Information</h4>
            <p>message</p>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div id="alert" class="alert alert-block alert-error fade">
            <button class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Oh snap! An error occured!</h4>
            <p>message</p>
          </div>
        </div>
      </div>
    </div>
    <div class="span10">
        <div class="row-fluid">
            <div id="neon-wrapper"></div>
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
</div><!--/.fluid-container-->

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="{{ STATIC_URL }}js/fabric_all.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/neon.min.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function() {

    $(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });

    // derive background image name from mei
    $('#neon-wrapper').neon({
      autoLoad: true,
      debug: false,
      prefix: "/neon",
      pageid: "{{ context.page_id }}",
      meipath: "{{ context.mei_path }}",
      bgimgpath: "{{ context.bgimgpath }}",
      orig_width: "{{ context.orig_width }}",
      glyphpath: "{{ STATIC_URL }}img/neumes_concat.svg",
      csrf_token: "{{ csrf_token }}",
      width: 1000, // enforce width
      backgroundImageOpacity: 0.0
    });

    // make side nav-bar scroll with the user
    $(window).scroll(function () {
        $("#neon-sidebar-nav").stop().animate({ "marginTop": ($(window).scrollTop() + 5) + "px" }, "200");
    });
});

</script>
