{% extends "jobs/job_base.html" %}

{% block resources %}
<script src="{{ STATIC_URL }}Rodan/Frameworks/RodanKit/Resources/RKPixelSegment/kinetic-v5.0.1.min.js"></script>
<script src="{{ STATIC_URL }}Rodan/Frameworks/RodanKit/Resources/RKPixelSegment/jquery-1.11.0.min.js"></script>
<script src="{{ STATIC_URL }}Rodan/Frameworks/RodanKit/Resources/RKPixelSegment/RKPixelSegment.js"></script>
{% endblock %}

{% block body %}
{% csrf_token %}    
<div style="padding: 1em; overflow: hidden; min-width: 1450px">
    <div id="ui" style="float: left; width: 400px; margin-right: 5px; padding: 5px; background-color: #EEEEEE; border: 2px solid black; font-family: arial; font-size: 10pt;">
        <div style="float: left; font-size: 16pt; width: 100%">Pixel Segmentation</div><br/>
            <div>
            <hr style="background: #333333; border:0; height:2px" />
            <table>
                <tbody>
                    <tr>
                        <th>State</th>
                        <td id="state"></td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td id="color"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <input type="submit" name="submit" value="Submit" class="submit" />
        </div>
    </div>
    <div id="container" style="float: left; border: 1px solid black"></div>
    <input type="hidden" name="polygon_outer_points" value="" id="JSON-input" />
</div>
<script type="text/javascript">
    $(document).ready(function() 
    {
        var options = {image: {source: "{{ image_source.large_thumb_url }}", originalWidth: {{ image_width }}}};
        $("#container").PixelSegmentation(options);
        var instance = $("#container").data('PixelSegmentation');
        $('#form').submit(function() 
        {
            $('#JSON-input').val(function() 
            {
                var points = instance.getGeometries();
                return JSON.stringify(points);
            });
        });
    });
</script>
{% endblock %}
