<p>Adjust the page rotation until the page is square. Use the ruler to
line up objects on the page.</p>
<form method="post" action="{% url task_complete page.id job.slug %}" id="rotate-form">
    {% csrf_token %}
    <fieldset class="submit">
        <input type="hidden" name="angle" value="0" id="angle-input" />
        <input type="submit" name="submit" value="Rotate" class="submit" />
    </fieldset>
</form>


<input name="togleRuler" type="button" onclick="toggleRuler()" value="Toggle Ruler"></input>
<input name="togleRuler" type="button" onclick="reorientRuler()" value="Reorient Ruler"></input>
<div class="images">
	<div class="rotate-row">
		<input class="knob" id="dialctrl" data-cursor=true data-thickness=".3"></input>
		<div id="image-preview"></div>
		{% include "includes/page_image.html" with hidden=1 %}
	</div>
</div>
<script src="{{ STATIC_URL }}js/jquery.knob.js"></script>
<script src="{{ STATIC_URL }}js/kinetic-v3.9.7.min.js"></script>
<script src="{{ STATIC_URL }}js/rotate.js"></script>
