<p>This is a segmentation job!!! Look at my beautiful canvas etc</p>
<p>The page I want to do stuff to is: {{ page }} (randomly selected)</p>
<form method="post" action="{% url task_complete page.id job.slug %}" id="segment-form">
    {% csrf_token %}
    <fieldset class="submit">
        <input type="hidden" name="JSON" value="" id="JSON-input" />
        <input type="submit" name="submit" value="Segment" class="submit" />
    </fieldset>
</form>
<button onclick="addPoly()">Add Poly</button>
<button onclick="removePoly()">Remove Poly</button>
<button onclick="addLeftEnd()">addLeftEnd</button>
<button onclick="addRightEnd()">addRightEnd</button>
<button onclick="removeLeftEnd()">removeLeftEnd</button>
<button onclick="removeRightEnd()">removeRightEnd</button>
<div id="slider"></div>
<div class="images">
    <div class="hidden">
        <p id="JSON">{{ context.json }}</p>
        <p id="width">{{ context.width }}</p>
        {% include "includes/page_image.html" with large_image=1 %}
    </div>
    <div id="image-preview"></div>
</div>
<script src="{{ STATIC_URL }}js/kinetic-v3.9.7.min.js"></script>
<script src="{{ STATIC_URL }}js/segment.js"></script>
