<!DOCTYPE html>
<html ng-app="rodanTestApp">
  <head>
    <meta charset="utf-8" />
    <title>Rodan Test Client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="script.js"></script>
    <style>
      html,body{height:100%;width:100%;overflow:hidden}
      .well{background:#fff}
    </style>
  </head>
  <body>
    <header class="navbar navbar-default" ng-controller="ctrl_navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" style="cursor:default">Rodan</a>
        </div>
        <div class="navbar-form navbar-right">
          <button class="btn btn-default" ng-click="allProjects()">All projects</button>
        </div>
      </div><!-- /.container-fluid -->
    </header>
    <div class="container-fluid">
      <div ng-view></div>
    </div>

    <script type="text/ng-template" id="/templates/login.html">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <h2>Login</h2>
          <form ng-submit="submit()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" ng-model="inputs.username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" ng-model="inputs.password">
            </div>
            <button type="submit" class="btn btn-primary"
                    value="{% trans 'Login' %}">Login</button>
          </form>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/templates/projects.html">
      <div class="row">
        <div class="col-xs-12">
          <h2>Projects</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>ID</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="p in projects">
                <td ng-bind="p.name"></td>
                <td ng-bind="p.uuid"></td>
                <td><button class="btn btn-primary" ng-click="launch(p)">Launch</button></td>
              </tr>
            </tbody>
          </table>
          <form ng-submit="newProject()">
            <fieldset>
              <legend>New Project</legend>
              <input type="name" placeholder="Project Name" ng-model="newproj_name"/>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/templates/project.html">
      <div style="position:absolute;left:0;right:0;top:51px;bottom:0"> <!--wrapper -->

        <div style="position:absolute;left:0;right:70%;top:0;bottom:0">
          <div class="well" style="height:100%;overflow-y:auto">
            <label style="margin-bottom:0;margin-left:20px;background:lightyellow;" class="pull-right"><input type="checkbox" ng-model="ui_hidegenerated">Hide generated resources</label>
            <h2>Resources</h2>

            <div>
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th><input type="checkbox" ng-model="select_all_resources"></th>
                    <th>#</th>
                    <th>Detail <label style="margin-bottom:0;margin-left:20px;background:lightyellow"><input type="checkbox" ng-model="ui_showtypethumb">Show thumb and type</label></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="r in resources" ng-class="{success: r.processing_status == 4, danger: r.processing_status == -1, active: r.processing_status == 1}" ng-hide="ui_hidegenerated && r.origin">
                    <td>
                      <input type="checkbox" ng-model="resource_selected[r.url]" />
                    </td>
                    <td>
                      <span ng-show="!r.compat_resource_file">{{ r.uuid | limitTo: 6 }}</span>
                      <a ng-show="r.compat_resource_file" ng-href="{{r.compat_resource_file}}" target="_blank">{{ r.uuid | limitTo: 6 }}</a>
                    </td>
                    <td>
                      {{r.name}}<button class="btn btn-default btn-xs" ng-click="updateResourceName(r)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                      <table ng-show="ui_showtypethumb">
                        <tr>
                          <td>
                            <img ng-show="r.has_thumb" ng-src="{{r.small_thumb}}" /><em ng-show="!r.has_thumb">No thumbnail</em>
                          </td>
                          <td><code>{{ resourcetypes_hash[r.resource_type].mimetype }}</code></td>
                        </tr>
                      </table>
                    </td>
                    <td><button ng-click="deleteResource(r)" class="btn btn-default btn-xs">Delete</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br/>
            <form ng-submit="uploadResources()" class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Upload Resources</h3>
              </div>
              <div class="panel-body">
                <input type="file" file-model="files" multiple class="pull-left"/>
                <button type="submit" class="btn btn-primary pull-right">Upload</button>
              </div>
            </form>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Create Workflow with selected resources</h3>
              </div>
              <div class="panel-body">
                <div class="form-group" ng-class="{'has-error': new_workflow_error.name}">
                  <input type="text" placeholder="Workflow Name" ng-model="new_workflow_name" class="form-control">
                </div>
                <button ng-click="createWorkflow_complete()" class="btn btn-default">Create Workflow</button>
                <div ng-show="new_workflow_error" style="color:red;font-weight:bold">{{ new_workflow_error }}</div>
              </div>
            </div>
          </div>
        </div>
        <!----------- --->
        <div style="position:absolute;left:30%;right:40%;top:0;bottom:80%">
          <div class="well" style="height:100%;overflow-y:auto">
            <h2>Workflows</h2>

            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Operations</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="w in workflows" ng-class="{success: w.valid, danger: !w.valid}">
                  <td><a style="cursor:pointer" ng-click="$parent.wfrun_filter = w.url">{{w.uuid | limitTo: 6}}</a></td>
                  <td ng-bind="w.name"></td>
                  <td>
                    <span ng-show="!w.valid">
                      <button ng-click="validateWorkflow(w)" class="btn btn-default btn-xs">Validate</button>
                    </span>
                    <span ng-show="w.valid">
                      <button ng-click="runWorkflow(w)" class="btn btn-default btn-xs">Run</button>
                      <button ng-click="runWorkflow(w, true)" class="btn btn-default btn-xs">Test run</button>
                    </span>
                    <button ng-click="deleteWorkflow(w)" class="btn btn-default btn-xs">Delete</button>
                    <div ng-show="workflow_validationerror[w.url]" ng-bind="workflow_validationerror[w.url]" style="color:red;font-weight:bold"></div>
                  </td>
                  <td>
                    <a ng-href="{{w.url + '?export=true&format=json'}}" target="_blank">Export</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div style="position:absolute;left:60%;right:0;top:0;bottom:80%">
          <div class="well" style="height:100%;overflow-y:auto">
            <h2>Results Packages</h2>

            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>wfRun</th>
                  <th>Created</th>
                  <th>Mode</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="rp in resultspackages" ng-class="{success: rp.status == 4, danger: rp.status == -1, active: rp.status == 1, warning: rp.status == 8}">
                  <td>
                    {{rp.workflow_run.slice(-33, -27)}}
                  </td>
                  <td>{{rp.created | date:"yyyy-MM-dd '@' h:mma"}}</td>
                  <td>{{rp.packaging_mode}}</td>
                  <td>
                    <a ng-show="rp.status == 4" ng-href="{{rp.package_url}}" target="_blank">Download</a>
                  </td>
                  <td><button ng-click="cancelResultsPackage(rp)" class="btn btn-default btn-xs">Cancel</button><button ng-click="deleteResultsPackage(rp)" class="btn btn-default btn-xs">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div style="position:absolute;left:30%;right:0;top:20%;bottom:0">
          <div class="well" style="height:100%;overflow-y:auto">
            <label style="margin-bottom:0;margin-left:20px;background:lightyellow;" class="pull-right"><input type="checkbox" ng-model="ui_showresults">Show results</label>
            <h2>Workflow Runs <button class="btn btn-primary btn-xs" ng-click="wfrun_filter = null" ng-show="wfrun_filter">Remove filtering on Workflow {{wfrun_filter.slice(-33, -27)}}</button></h2>

            <div ng-repeat="wfrun in workflowruns" ng-show="!wfrun_filter || wfrun.workflow == wfrun_filter">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    {{wfrun.uuid | limitTo: 6}} <code>{{wfrun.workflow_name}}</code> created at <code>{{wfrun.created | date:"yyyy-MM-dd '@' h:mma"}}</code>
                    <b ng-show="wfrun.test_run">test run</b> for Workflow <code>{{ wfrun.workflow.slice(-33, -27) || "[DELETED]" }}</code>.
                    <b class="pull-right" style="margin-left:10px">Status: {{status[wfrun.status]}}</b>
                    <span class="pull-right">
                      <button ng-click="retryWorkflowRun(wfrun)" class="btn btn-default btn-xs pull-right clearfix">Retry</button>
                      <button ng-click="cancelWorkflowRun(wfrun)" class="btn btn-default btn-xs pull-right">Cancel</button>
                    </span>
                  </h3>
                  <b>Package Results in </b>
                  <button ng-click="packageResults(wfrun, 0)" class="btn btn-default btn-xs">Mode 0</button>
                  <button ng-click="packageResults(wfrun, 1)" class="btn btn-default btn-xs">Mode 1</button>
                  <!--<button ng-click="packageResults(wfrun, 2)" class="btn btn-default btn-xs">Mode 2</button>-->
                </div>
                <div class="panel-body">
                  <table class="table table-condensed">
                    <tr ng-repeat="rj in runjobs[wfrun.url]" ng-class="{success: rj.status == 4, danger: rj.status == -1, active: rj.status == 1}">
                      <td>{{rj.job_name}}</td>
                      <td>
                        <span ng-show="rj.resource_uuid"><code>{{rj.resource_uuid.slice(0, 6)}}</code> {{resource_uuid_name_map[rj.resource_uuid] || "[DELETED]" }}</span>
                        <div ng-show="ui_showresults && rj.status == 4">
                          <span ng-repeat="o in rj.outputs">
                            <a ng-href="{{generated_resources[o].compat_resource_file}}" target="_blank"><img ng-show="generated_resources[o].has_thumb" ng-src="{{generated_resources[o].small_thumb}}"/><span ng-show="!generated_resources[o].has_thumb">Original file</span></a>
                          </span>
                        </div>
                      </td>
                      <td class="text-right">
                        <span ng-bind="status[rj.status]" ng-hide="rj.status == 2"></span>
                        <a ng-show="rj.status == 2" ng-href="{{rj.interactive_url}}" target="_blank">{{status[2]}}</a>
                        <div ng-show="rj.status == -1">
                          <b>{{rj.error_summary}}</b>
                          <pre><code>{{rj.error_details}}</code></pre>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </script>
  </body>
</html>
