<div class="table-control">
	<div class=" panel panel-default">
		<div class="panel-header">
		    <div class="btn-group" role="group" aria-label="...">
				<div class="btn-group" role="group" id="filter-menu">
					<button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add search filter</button>
					<ul class="dropdown-menu">
						<!-- Filter choices are injected here. -->
					</ul>
				</div>
				<button type="button" class="btn btn-xs btn-success" id="button-clearall">Clear search filters</button>
			</div>
		</div>
		<div class="panel-body">

			<form class="form-inline" id="filter-inputs">
				<!-- Filters will appear here. -->
			</form>

		</div>
	</div>
    <div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-success btn-xs" id="pagination-first">First</button>
		<button type="button" class="btn btn-success btn-xs" id="pagination-previous">Previous</button>
		<button type="button" class="btn btn-success btn-xs" id="pagination-next">Next</button>
		<button type="button" class="btn btn-success btn-xs" id="pagination-last">Last</button>
	</div>
	<select id="pagination-select"><span id="pagination-select-text">Page</span></select>
</div>
