<div class="content-wrapper column-content column-middle">
    <div class="content-wrapper column-content modal-dialog">
        <div class="content-wrapper row-content modal-header">
            <div class="modal-title"></div>
            <div id="modal-close" class="modal-close">&times;</div>
        </div>
        <div class="content-wrapper column-content modal-body" id="region-modal_body"></div>
        <div class="content-wrapper column-content modal-footer"></div>
    </div>
</div>