###############################################################################
# Django Configuration
###############################################################################

ADMIN_USER:SomeAdmin
ADMIN_PASS:123456Seven
DJANGO_DEBUG_MODE=False
DJANGO_SECRET_KEY=AVeryLongSecretKeyThatWasGeneratedByOurSpecialScript_DoNotForgetToChangeThis
DJANGO_MEDIA_ROOT=/rodan/data/
DJANGO_ALLOWED_HOSTS=['.simssa.ca']
DJANGO_CORS_ORIGIN_ALLOW_ALL=True
DJANGO_ADMIN_URL=^random_secret_admin/
IIPSRV_URL=http://localhost/fcgi-bin/iipsrv.fcgi/

SERVER_DOMAIN=not_localhost
RODAN_SERVER_DOMAIN_NAME=not_localhost
SSL_CERT_PATH=/etc/letsencrypt/live

###############################################################################
# Celery Configuration
###############################################################################

C_FORCE_ROOT=true
KERAS_BACKEND=theano

###############################################################################
# Gunicorn Configuration
###############################################################################

WEB_CONCURRENCY=4

###############################################################################
# Database Configuration (Postgres)
###############################################################################

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_NAME=rodan
POSTGRES_USER=superSecretUser_ChangeMe
POSTGRES_PASS=123456Seven_ChangeMe

###############################################################################
# Messenger Configuration (RabbitMQ)
###############################################################################

# The format is -> $Protocol :// $User : $Password @ $Host : $Port / $Vhost
RABBITMQ_URL=amqp://SecretUser_ChangeMe:SecretPassword_ChangeMe@rabbitmq:5672//

###############################################################################
# Websocket Configuration (Redis)
###############################################################################

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
