import os

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'rodan.sqlite3',
        #'USER': 'ahankins',
        #'PASSWORD': '',
        #'HOST': 'localhost',
        #'PORT': '5432'
    }
}

ALLOWED_HOSTS = [
    'localhost:8000',
]

## Absolute filesystem path to the directory that holds the base of the projct.
## Example: "/srv/webapps/project/"
PROJECT_DIR = os.path.dirname(__file__)

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/home/media/media.lawrence.com/media/"
MEDIA_ROOT = os.path.join(PROJECT_DIR, 'uploads/')

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://media.lawrence.com/media/", "http://example.com/media/"
MEDIA_URL = "/uploads/"

# The base_url below is hardcoded. This setting needs to be properly configured when you deploy Rodan.
# Here is a list of places where this variable is used:
#
#    rodan.models.pageglyphs.PageGlyphs.get_absolute_url()
#
# When you find a better solution for returning the absolute url from a celery job,
# go clean up the code in these places.
BASE_URL = 'http://localhost:8000'
SOLR_URL = 'http://rodan.simssa.ca:8080/rodan-search-dev'
IIP_URL = 'http://rodan.simssa.ca/fcgi-bin/iipsrv.fcgi'

###############################################################################
## Celery configuration
###############################################################################
BROKER_CONNECTION_MAX_RETRIES = '0'
BROKER_URL = 'amqp://rodanuser:DDMALrodan@localhost:5672/DDMAL'
CELERY_ENABLE_UTC = True
CELERY_IMPORTS = ("rodan.jobs.helpers",
                  "rodan.helpers.resultspackagemanager",
                  "rodan.jobs.master_task",
                  "rodan.jobs",)
CELERY_RESULT_BACKEND = "amqp"

###############################################################################
## Django CORS configuration
###############################################################################
#CORS_ORIGIN_ALLOW_ALL = False
#CORS_ORIGIN_WHITELIST = (
#    'some domain or IP'
#)
#CORS_ALLOW_CREDENTIALS = True
#CORS_EXPOSE_HEADERS = (
#    'Set-Cookie',
#    'Vary'
#)
