{% extends "main.html" %}

{% block content %}
    <section>
        <div class="right-float">
            <a class="button" href="/projects/create">Create project</a>
        </div>
        <h1>Dashboard</h1>
        {% with my_projects=user.get_profile.project_set.all %}
        {% if my_projects %}
        <table>
            <thead>
                <tr>
                    <th>Project name</th><th>Number of pages</th><th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for project in my_projects %}
                <tr>
                    <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
                    <td>{{ project.page_set.count }}</td>
                    <td>Lol</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You have no projects. How sad. Create one! (See the button above)</p>
        {% endif %}
        {% endwith %}
    </section>
{% endblock %}
