{% extends "main.html" %}

{% block content %}
    <section>
        <h1>Dashboard</h1>
        <p>What should go on this page??????</p>
        <p>Create page button (and form - backbone)</p>
        <p>A listing of all YOUR projects (projects you are associated with)</p>
        <p>Some statistics about your own projects (brief overview, like one progress bar per project, etc - more in-depth statistics on the project view page)</p>
        <p>Consider doing the view switching with backbone? Or maybe not, could be buggy (e.g. travis)</p>
    </section>
{% endblock %}
