<h1>:(</h1>

<fieldset class="submit">
    <input type="text" id="query-input" placeholder="Type in a search query" />
    <select id="query-type">
        <option value="neumes">Neumes</option>
        <option value="pnames" selected="selected">Strict pitch sequence</option>
        <option value="pnames-invariant">Transposed pitch sequence</option>
        <option value="contour">Contour</option>
        <option value="intervals">Intervals</option>
    </select>
    <input type="submit" value="Search" />
</fieldset>

<div class="center-align">
    <p id="placeholder-text">Enter a query to see results.</p>
    <p id="result-text" class="hidden">Result <span class="current"></span> of <span class="total"></span> for "<span class="query"></span>" (<span class="type"></span> search).</p>
    <p id="error-text" class="hidden">Something went wrong. Try again?</p>
</div>

<div id="diva-wrapper"></div>
<input type="hidden" id="iipServerURL" value="{{ iip_url }}" />
<script src="{{ STATIC_URL }}js/diva.min.js"></script>
<script src="{{ STATIC_URL }}js/search.js"></script>
