<h1>Manage images for '{{ project }}'</h1>
<p>Create a new page in this project by uploading a TIFF file below. To create a workflow for a page or assign an existng workflow to it, click on its thumbnail.</p>

<br />

{% include "includes/form.html" %}

<p>This project has {{ pages.count }} page{{ pages.count|pluralize }}, with <span id="num-processing">{% if num_processing %}{{ num_processing }}{% else %}no{% endif %}</span> page{{ num_processing|pluralize }} still processing.</p>

<br />

<ul class="grid image-buttons" id="upload-images">
{% for page in pages %}
    <li data-page="{{ page.id }}" {% if not page.is_ready %} class="fake-img"{% endif %}><img {% if not page.is_ready %}data-{% endif %}src="{{ page.get_thumb_url }}" title="{{ page }}" /><input type="radio" name="sample" value="{{ page.id }}" /></li>
{% empty %}
    <li id="page-placeholder">This project has no pages! Create one by uploading a TIFF file using the file upload control above.</li>
{% endfor %}
</ul>
<br />

<div id="modal">
    <div>
        <p>Image uploading. Please wait ...</p>
    </div>
</div>
