<h1>Upload images for '{{ project }}'</h1>
<p>Click on an image to use it as a sample image to create a workflow</p>
<ul class="grid image-buttons" id="upload-images">
{% for page in project.page_set.all %}
    <li{% if not page.is_ready %} class="fake-img" data-page="{{ page.id }}"{% endif %}><img {% if not page.is_ready %}data-{% endif %}src="{{ page.get_thumb_url }}" /><input type="radio" name="sample" value="{{ page.id }}" /></li>
{% empty %}
    <li id="page-placeholder">Upload a new file below.</li>
{% endfor %}
</ul>
<br />
{% include "includes/form.html" %}

<div id="modal">
    <div>
        <p>Image uploading. Please wait ...</p>
    </div>
</div>
