{% if done %}
    <div class="flash-message">
        <span>Thank you for starting that job. It has been added to the queue.</span>
    </div>
{% endif %}
{% if nojob %}
    <div class="flash-message">
        <span>There are no available jobs of that type to run</span>
    </div>
{% endif %}
{% if user_can_edit %}
<div class="right-float">
    <a href="{% url edit_project project.id %}" class="button">Edit project</a>
    <a href="{% url upload project.id %}" class="button">Manage images</a>
    <a href="{% url manage_workflows project.id %}" class="button">Manage workflows</a>
</div>
{% endif %}
<h1>{{ project.name }}</h1>
<p><strong>Description:</strong> {% if project.description %}{{ project.description }}{% else %}<em>No description</em>{% endif %}</p>
<p><strong>Owner</strong>: {{ project.creator }}</p>
<p><strong>Number of pages</strong>: {{ num_pages }}{% if num_pages == 0 %} (Add pages by clicking the "Manage Images" button above.){% endif %}</p>
{% if project.is_partially_complete %}
<div class="alert ok">
    <p>This project is partially complete! <a href="{% url diva project.id %}">View the document in a searchable interface &raquo;</a></p>
</div>
{% endif %}
<hr />
{% include "includes/job_grid.html" %}
<hr />
{% include "includes/job_status.html" %}
<hr />
<h2>Project pages</h2>
{% if num_pages > 0 %}
<ul class="grid">
{% for page in project.page_set.all %}
    {% if page.is_ready %}
    <li><a href="{{ page.get_absolute_url }}"><img src="{{ page.get_thumb_url }}" /></a></li>
    {% else %}
    <li class="image-border page-loading"></li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
