{% extends "main.html" %}

{% block content %}
    <section>
        {% if user_can_edit %}
        <div class="right-float">
            <a href="{% url edit_project project.id %}" class="button">Edit project</a>
            <a href="{% url add_pages project.id %}" class="button">Add pages</a>
        </div>
        {% endif %}
        <h1>{{ project.name }}</h1>
        <p><strong>Description:</strong> {% if project.description %}{{ project.description }}{% else %}<em>No description</em>{% endif %}</p>
        <p><strong>Owner</strong>: {{ project.creator }}</p>
        <p><strong>Number of pages</strong>: {{ num_pages }}{% if num_pages == 0 %} (Add pages by clicking the "Add pages" button above.){% endif %}</p>
        <hr />
        {% include "includes/job_grid.html" %}
        <hr />
        {% include "includes/job_status.html" %}
    </section>
{% endblock %}
