<h1>Manage workflows for {{ project }}</h1>

{% if workflows %}
{% load extras %}
<table>
    <thead>
        <tr>
            <th>Workflow</th>
            <th>Number of pages</th>
            <th style="width: 40%">Progress</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for workflow in workflows %}
        <tr>
            <td><a href="{{ workflow.get_absolute_url }}">{{ workflow }}</a></td>
            <td>{{ workflow.page_set.count }}</td>
            <td>{% progress_bar workflow.get_percent_done %}</td>
            <td><a href="{% url edit_workflow workflow.id %}">Edit workflow</a> :: <a href="{% url workflow_jobs workflow.id %}">Manage jobs</a> :: <a href="{% url add_pages workflow.id %}">Add pages</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>This project has no workflows! Create one by uploading an image for selecting an existing image to add a workflow to <a href="{% url upload project.id %}">here</a>.</p>
{% endif %}
