/**
 * Styles for Rodan client.
 * 
 * ------------------------------------
 * PLEASE READ BEFORE MAKING CHANGES!!!
 * ------------------------------------
 *
 * -----------
 * Terminology
 * -----------
 *
 * Navigation region:
 *      The region that displays the Rodan logo, status bar, navigation tree,
 *      and a button menu at the bottom.
 *
 * Main region: 
 *      The region that displays project information, 
 *      resource information, allows for resource creation, project-name modification etc.
 * 
 *      Whenever a user selects anything in the navigation tree within the nagivation region,
 *      The main region's content will be dynamically updated.
 * 
 */

/**************************************************************************************
 * General parameters
 *************************************************************************************/

 /* Set values for variables used throughout the stylesheet */
:root {
    /* Navigation tree area */
    --navigation-node-color: #939393;

    /* Status area */
    --background-color-status: #000000;
    --text-color-status-user: #cccccc;
    --text-color-status-user: #cccccc;
    --text-color-status-server: #cccccc;

    --primary-app-color: #7ab2b7;
    --secondary-app-color: #589ed5;
    --text-color-navigation: white;
    --app-font: Montserrat, sans-serif;

    /* Navigation area */
    --background-color-navigation: #000000;
    --text-color-navigation: #cccccc;

    /* Status area */
    --background-color-status: #000000;
    --text-color-status-user: #cccccc;
    --text-color-status-user: #cccccc;
    --text-color-status-server: #cccccc;

    /* Main area */
    --background-color-main: #ffffff;

    /* WorkflowBuilder area */
    --background-color-workflowbuilder-workspace: #dddddd;
    --background-color-workflowbuilder-menu: #000000;
    --text-color-workflowbuilder-menu: #ffffff;

    /* WorkflowBuilder control area */
    --background-color-workflowbuilder-control: #ffffff;

    /**************************************************************************************
    * DO NOT TOUCH unless you know what you're doing.
    *************************************************************************************/
    --height-top: 100; /* % of vertical space in viewport */
    --height-gui: 100; /* % of vertical space in GUI viewport */
    --height-gui_menu: 4; /* % of vertical space in GUI viewport for menu */
    --size-font: 11px; /* pixels */
    --font-weight: 100;
}


/* ------------------------------------ */
/* General styles
/* ------------------------------------ */

.text-small
{
    font-size: x-small;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: var(--app-font);
    font-size: var(--size-font);
    font-weight: var(--font-weight);
    margin: 0px;
    overflow: hidden;
}
input {
    border: 1px solid #cecece;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    padding: 2px;
    box-sizing: border-box;
    flex-grow: 1;
    outline: none;
}
/* Table styles */
table {
    user-select: none;
    text-align: left;
    width: 98%;
    border-collapse: collapse;
    border-spacing: 0;
    height: fit-content;
    font-size: 15px;
}
thead {
    /* border-bottom: 1px solid #c2c2c2; */
    background-color: #ecf0f5;
}
th, td {
    cursor: pointer;
    padding: 10px 5px;
}
tr {
    cursor: default;
}
th {
    font-weight: 400;
    text-align: left;
}
tbody > tr:hover {
    background-color: var(--secondary-app-color);
    color: white;
    cursor: pointer;
}

/* 
 * Content wrappers are used EVERYWHERE to wrap various HTML content.
 * If you modify the content-wrapper classes, it will affect a lot of the UI.
 * PLEASE MAKE SURE YOU KNOW WHAT YOU'RE DOING!
*/
.content-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.content-wrapper.column-content {
    flex-direction: column;
}
.content-wrapper.row-content {
    flex-direction: row;
}

li::marker {
    content: '';
}
.btn-group {
    display: flex;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
}
hr {
    border: 1px solid #e5e5e5;
    width: 100%;
}
.dropdown-menu {
    position: absolute;
    flex-direction: column;
    top: 101%;
    padding: 0;
    margin: 0;
    left: 0%;
    background-color: #fafafa;
    border: 1px solid #d7d7d7;
    width: 99%;
    border-radius: 3px;
}
.dropdown-menu.hidden {
    display: none;
}
.dropdown-menu > li {
    padding: 5px;
    cursor: pointer;
}
.dropdown-menu > li:hover {
    color: white;
    background-color: var(--secondary-app-color);
}

/* ------------------------------------ */
/* General styles end
/* ------------------------------------ */




#app {
    width: 100%;
    height: 100%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////
// Navigation region
/////////////////////////////////////////////////////////////////////////////////////// */

#region-navigation {
    background: #0000000f;
    width: 17%;
    color: var(--navigation-node-color);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
    justify-content: center;
}
#region-navigation .node-text {
    cursor: pointer;
}
#navigation-panel-content-wrapper {
    justify-content: center;
    width: 92%;
}
#app-navbar {
    height: 99%;
    justify-content: space-between;
}

/* Logo and requests status styles */
#rodan-logo {
    font-size: 35px;
    display: flex;
    align-items: flex-start;
    color: var(--primary-app-color);
    height: 5%;
}
#requests-status {
    color: var(--primary-app-color);
    height: 10%;
    align-items: flex-start;
}

/* Project navigation tree styles */
.navigation-tree-node {
    cursor: pointer;
}
.navigation-tree-node:hover {
    background-color: var(--primary-app-color);
    color: white;
}
#my-projects-btn {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#my-projects-btn:hover {
    background-color: var(--primary-app-color);
    color: white;
}
#project-navigation-tree {
    list-style-type: disc;
}
.navigation-tree-child-view-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    padding-left: 5px;
    border-left: 2px solid #69a3a870;
}
.navigation-tree-child-view-container.no-indent {
    width: 100%;
    border: none;
    padding: 0;
}
.btn-group.main-navbar-btn-group {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3px;
}
.node-text {
    font-size: 15px;
    width: 100%;
    padding: 3px 0px;
}
.node-text:hover {
    background-color: var(--primary-app-color);
    color: white;
}
.node-text.highlighted {
    background-color: var(--primary-app-color);
    color: white;
}
.node-text.project {
    margin-top: 7px;
    margin-bottom: 4px;
}
.node-text.project-child {
    margin-top: 3px;
    margin-bottom: 3px;
}

/* main navbar buttons */
#navigation-panel-btns {
    height: auto;
}
.btn.main-navbar-btn {
    background-color: white;
    outline: none;
    border: 1px solid #dedede;
    color: var(--primary-app-color);
    border-radius: 3px;
    flex-grow: 1;
    min-height: 25px;
}
.btn.main-navbar-btn:hover {
    background-color: var(--primary-app-color);
    color: white;
}
.btn.main-navbar-btn#button-navigation_logout {
    color: #E76B6B;
}
.btn.main-navbar-btn#button-navigation_logout:hover {
    background-color: #E76B6B;
    color: white;
}


/* ///////////////////////////////////////////////////////////////////////////////////////
// Main region
/////////////////////////////////////////////////////////////////////////////////////////*/

/* Main region general styles */
#region-main
{
    Background-repeat: no-repeat;
    background-position: center center;
    width: 83%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    justify-content: center;
}
#region-main-content-wrapper {
    gap: 15px;
}
.region-main-section {
    width: 98%;
}
/* Main region header */
.region-main-section.region-main-header {
    width: 100%;
    height: 4%;
    justify-content: space-between;    
    border-bottom: 2px solid #e5e5e5;
}
#region-main-header {
    width: 98%;
    justify-content: space-between;
}
.region-main-content-title {
    font-size: 15px;
    font-weight: 100;
}
.region-main-default-btn {
    border: none;
    background-color: var(--secondary-app-color);
    border: 1px solid var(--secondary-app-color);
    color: white;
    border-radius: 3px;
    padding: 5px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
}
.region-main-default-btn:hover {
    background-color: white;
    color: var(--secondary-app-color);
}
/* Table controls */
.region-main-section.table-control {
    height: fit-content;
    justify-content: center;
    align-items: center;
}

/* Table controls: table filtering */
.region-main-section.table-control.filters {
    background-color: #fafafa;
    padding: 8px;
    gap: 3px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}
#filter-options-wrapper {
    gap: 10px;
}
#filter-menu {
    width: 10%;
    justify-content: center;
    position: relative;
}
#button-add-filter {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 0;
    border: 1px solid #d7d7d7;
}
#dropdown-menu-table-filter {

}
#clear-filters-btn-wrapper {
    width: auto;
    height: 100%;
}
#button-clearall {
    height: 100%;
    max-height: 25px;
}
#filter-inputs-wrapper {
    gap: 10px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
#filter-inputs-title {
    width: 100%;
    font-size: 12px;
}
#filter-inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
}
.filter-input-wrapper {
    width: fit-content;
    align-items: flex-start;
    background-color: #488bcb12;
    border-radius: 3px;
    /* border: 1px solid #e5e5e5; */
    gap: 3px;
    font-size: 12px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 7px;
    color: var(--secondary-app-color);
    flex: 1;
}
.filter-values-wrapper {
    gap: 5px;
}

/* pagination controls styles */
.region-main-section.table-control.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 98%;
    gap: 5px;
}
#table-pagination-controls-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-radius: 3px;
    overflow: hidden;
}
.pagination-btn {
    color: white;
    background-color: var(--secondary-app-color);
    padding: 3px;
    box-sizing: border-box;
}

/* ----------------------- */
/* Individual project view */
/* ----------------------- */
.region-main-content {
    overflow: auto;
    height: 96%;
}
.individual-project-view {
    display: flex;
}
.table-responsive {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px 2px #eeeeee; */
    background-color: #f0f0f047;
    height: fit-content;
    width: 98%;
    overflow-x: auto;
}
.project-collections {
    gap: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    width: 85%;
    border-right: 2px solid #dfdfdf;
    overflow-y: auto;
    overflow-x: hidden;
}
.project-navigation-bar {
    height: 2vh;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #f0f0f0;
    width: 90%;
}
.project-nav-bar-btn {
    background-color: transparent;
    font-size: 15px;
    color: grey;
}
.project-nav-bar-btn.active {
    border-bottom: 3px solid var(--primary-app-color);  
}
.collection-wrapper {
    gap: 10px;
}
.resource-upload-container {
    height: fit-content;
    gap: 10px;
}
.main-region-action-btn {
    padding: 5px;
    border-radius: 3px;
    background-color: var(--secondary-app-color);
    border: 1px solid var(--secondary-app-color);
    color: white;
    font-size: 13px;
    cursor: pointer;
    font-weight: 400;
}
.main-region-action-btn:hover {
    background-color: white;
    color: var(--secondary-app-color);
}

/* Workflows collection page */
#new-workflow-btns-container {
    height: fit-content;
    gap: 5px;
    width: 98%;
}


/* Project and collection details panels */
.detail-panels-container {
    width: 25%;
    box-sizing: border-box;
}
.details-panel {
    box-sizing: border-box;
    border-bottom: 2px solid #dfdfdf;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    /* height: 50%; */
}
#region-project-details-panel, #region-collection-item-details-panel {
    height: 50%;
}
.details-panel-section {
    padding: 10px;
    box-sizing: border-box;
}
.details-panel-section.details-panel-title-section {
    height: 10%;
    background-color: #f2f2f2;
}
.details-panel-section.details-panel-details-section {
    height: 80%;
    gap: 10px;
    overflow: auto;
}
.details-panel-section.details-panel-action-btns-section {
    height: 10%;
    width: 94%;
    gap: 5px;
    border-top: 2px solid #f2f2f2;
}
.details-item-container {
    height: fit-content;
    align-items: flex-start;
    gap: 7px;
}
.content-wrapper.row-content.details-item-container {
    align-items: center;
    height: fit-content;
}
.details-item-value {
    overflow-wrap: anywhere;
    background-color: whitesmoke;
    padding: 3px;
    border-radius: 3px;
    box-sizing: border-box;
}
.btn.details-action-btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 3px;
    background-color: var(--secondary-app-color);
}
.btn.details-action-btn.details-save-btn {
    background-color: #EB9E3E;
}
.btn.details-action-btn.details-delete-btn {
    background-color: #E76B6B;
}
#select-resourcetype {
    width: 100%;
}


/*//////////////////////////////////////////////////////////////////////////////////////
// Canvas
/////////////////////////////////////////////////////////////////////////////////////// */
div#canvas-wrap
{
    height: 100%;
    overflow: hidden;
    padding: 0px;
}
div#canvas-tooltip
{
    position: fixed;
    background-color: #ffff88;
    margin-left: 3px;
    padding: 2px;
    height: auto;
    border-style: solid;
    border-width: 2px;
    width: auto;
    visibility: visible;
    display: inline-block;
}
canvas#canvas-workspace
{
    background-color: var(--background-color-workflowbuilder-workspace);
    padding: 0px;
}
canvas[resize] {
    width: 100%;
    height: 100%;
}
/* Input fields */
textarea[type=text]
{
    height: 50px;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}
.vertical-center {
    height: calc(var(--height-top) * 1%); /*fallback */
    height: calc(var(--height-top) * 1vh);
    display: flex;
    align-items: center;
}
.horizontal-center
{
    width: 100%;
    text-align: center;
}
div.individual-marionette-item-view {
    /*position: fixed;*/
    width: 100%;
}
div.top {
    height: calc(var(--height-top) * 1%); /*fallback */
    height: calc(var(--height-top) * 1vh);
}
div.gui {
    height: calc(var(--height-gui) * 1%); /*fallback*/
    height: calc(var(--height-gui) * 1vh);
    display: flex;
    flex-direction: column;
}
div#main_workflowbuilder
{
    background-color: white;
    height: 100%;
    overflow: auto;
}
.instruction
{
    font-style: italic;
}
:disabled
{
    background: #dddddd;
}

/* Modals */
.modal-body
{
    max-height: 600px;
    overflow-y: auto;
}
.modal-content
{
    opacity: 1 !important;
}

.modal-backdrop
{
    opacity: 0.3 !important;
}
.modal-footer
{
    text-align: left !important;
}
.modal-footer-error
{
    color: #aa0000;
}

/* Table overrides */
/**
 * Make text in table unselectable. This helps make multiple selection look better.
 */
table
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
}

/* Table controls */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .table tr.clickable-row.active:hover td
{
    background-color: #7eb0dd;
}

.table tr.clickable-row.active td
{
    background-color: var(--secondary-app-color);
}
.table-control span
{
    display:inline-block;
    font-size: var(--size-font);
    font-weight: bold;
}

div.table-control span
{
    display:inline-block;
    width: 50%;
}

div.table-control span.align-right
{
    text-align: right;
}

div.table-control p
{
    font-size:0; /* Fixes inline block spacing */
}

/* Sortable tables */
th.sort-ascending .glyphicon .glyphicon-arrow-up
{
    font-family: Arial, Helvetica, sans-serif;
}

/* Scrollable tables */
table.scroll
{
    display: block;
    height: 400px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Styles for smaller devices */
@media screen and (max-width: 768px) {
    /* .rodan-region {
        width: 100%;
    }
    #region-navigation {
        height: 7%;
        width: 100%;
        overflow: hidden;
    }
    #app-navbar {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    .navbar-section.main-navbar-section {
        width: 98%;
    }
    #rodan-logo {
        height: 100%;
        justify-content: center;
    }
    .navbar-sections-wrapper {
        display: none;
    }
    #region-main {
        height: 93%;
        width: 100%;
    } */
}

.tags-input{display:inline-block;padding:0 2px;background:#FFF;border:1px solid #CCC;width:16em;border-radius:2px;box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}.tags-input .tag{display:inline-block;background:#EEE;color:#444;padding:0 4px;margin:2px;border:1px solid #CCC;border-radius:2px;font:inherit;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;transition:all .1s ease}.tags-input .tag.selected{background-color:#777;border-color:#777;color:#EEE}.tags-input .tag.dupe{-webkit-transform:scale3d(1.2,1.2,1.2);transform:scale3d(1.2,1.2,1.2);background-color:#FCC;border-color:#700}.tags-input input{-webkit-appearance:none!important;-moz-appearance:none!important;appearance:none!important;display:inline-block!important;padding:3px;margin:0!important;background:0 0!important;border:none!important;box-shadow:none!important;font:inherit!important;font-size:100%!important;outline:0!important}.tags-input .selected~input{opacity:.3}