h5py==2.10.0
html5lib==0.9999999
Keras==2.3.1
numpy==1.16.6; python_version < "3.4"
numpy==1.17.3; python_version > "3.4"
opencv-python==3.2.0.8
scipy==0.19.1
six>=1.12.0
tensorflow==1.14.0; python_version < "3.4"
tensorflow==2.3.2; python_version > "3.4"
