<nav id="app-navbar" class="content-wrapper column-content">

	<!-- Rodan logo -->
	<div id="rodan-logo" class="content-wrapper column-content">Rodan</div>

	<!-- Status bar, and project nav tree -->
	<div class="content-wrapper column-content overflow-auto">

		<!-- Request status monitor -->
		<div id="requests-status" class="content-wrapper column-content"></div>
		<!-- Rodan project navigation tree -->
		<div id="project-navigation-tree" class="content-wrapper column-content overflow-auto"></div>

	</div>

	<!-- Bottom section contains btn menu -->
	<div id="navigation-panel-btns" class="content-wrapper column-content">

		<hr class="content-wrapper column-content">
		<!-- Rodan navbar buttons -->
		<div class="content-wrapper row-content btn-group main-navbar-btn-group">
			<button class="btn main-navbar-btn" id="button-navigation_about">About</button>
			<button class="btn main-navbar-btn" id="button-navigation_dev">Dev</button>
			<button class="btn main-navbar-btn" id="button-navigation_help">Help</button>
			<button class="btn main-navbar-btn" id="button-navigation_preferences" disabled>Preferences</button>
			<button class="btn main-navbar-btn" id="button-navigation_logout" disabled>Logout</button>
		</div>

	</div>

</nav>