<nav id="app-navbar" class="content-wrapper left-navbar-content-wrapper">
		<!-- Rodan logo -->
		<div id="rodan-logo">Rodan</div>

		<!-- Request status monitor -->
		<div id="region-status"></div>

		<!-- Rodan project navigation tree -->
		<ul id="region-navigation_tree"></ul>

		<hr>		

		<!-- Rodan main navbar buttons -->
		<div class="btn-group left-navbar-btn-group">
			<button class="btn left-navbar-btn" id="button-navigation_about">About</button>
			<button class="btn left-navbar-btn" id="button-navigation_dev">Dev</button>
			<button class="btn left-navbar-btn" id="button-navigation_help">Help</button>
			<button class="btn left-navbar-btn" id="button-navigation_preferences" disabled>Preferences</button>
			<button class="btn left-navbar-btn" id="button-navigation_logout" disabled>Logout</button>
		</div>
</nav>