<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CPBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CPBundlePackageType</key>
    <string>FMWK</string>
    <key>CPPrincipalClass</key>
    <string>RodanKit</string>
    <key>gamera.toolkits.rodan_plugins.plugins.rdn_crop.rdn_crop</key>
    <string>crop</string>
    <key>gamera.toolkits.rodan_plugins.plugins.rdn_despeckle.rdn_despeckle</key>
    <string>despeckle</string>
    <key>gamera.plugins.threshold.threshold</key>
    <string>binarise</string>
    <key>gamera.custom.segmentation.segmentation</key>
    <string>segment</string>
</dict>
</plist>
