*.pyc
db.sqlite
*.swp
*.tif
*.tiff
*.cib
*.xcodeproj/*
.XcodeSupport/*
rodan.log
rodan_env
.DS_Store
rodan/static/Rodan
rodan/jobs/diva_wrapper/
# ignore emacs autosave file
*~
database.log
celery.log
.idea

# Ignore environment variables.
config/staging.env

# Ignore static files
staticfiles/
rodan/static/

# Ignore logs
*.log

env/
docs/_build
docs/*
*.egg-info/
.mypy_cache/

# Ignore .vscode

.vscode/

# Ignore python virtual environments.

.env/