{% csrf_token %}

<h1>Clone a workflow for {{ page }}</h1>

<p>If you want to create a new workflow for this page, <a href="{% url new_workflow page.id %}">click here &raquo;</a></p>

{% if workflows %}
    <table class="pretty">
        <thead>
            <tr>
                <th>Workflow name</th>
                <th style="width: 50%;">Description</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for project in other_projects %}
                <tr>
                    <td colspan="3"><strong>{{ project }}</strong></td>
                </tr>
                {% for workflow in project.workflow_set.all %}
                    <tr>
                        <td><a href="{{ workflow.get_absolute_url }}">{{ workflow }}</a></td>
                        <td>{{ workflow.description }}</td>
                        <td><button value="{{ workflow.id }}" name="clone">Clone workflow</button></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>There are no workflows in other projects to clone.</p>
{% endif %}
