<h1>{{ page }}</h1>
{% load extras %}

<table>
    <tr>
        <td>Progress</td>
        <td>{% progress_bar page.get_percent_done %}</td>
    </tr>
    <tr>
        <td>Workflows</td>
        <td>
            {% if page_workflows %}<a href="{% url manage_workflows project.id %}">Manage workflows</a>
        </br><a href="{% url new_workflow page.id %}">Create another one?</a>
            {% else %}No workflows! <a href="{% url new_workflow page.id %}">Create one?</a>{% endif %}
        </td>
    </tr>
    </tr>
    {% for workflow in page_workflows %}
    <tr>
        <td>
            <a href="{% url view_page_workflow page.id workflow.id %}">{{ workflow }}</a>
        </td>
        <td></td>
    </tr>
    {% endfor %}
</table>
<br />