<h1>{{ page }}</h1>
{% load extras %}

{% if page.is_ready %}
<table>
    <tr>
        <td>Progress</td>
        <td>{% progress_bar page.get_percent_done %}</td>
    </tr>
    <tr>
        <td>Workflow</td>
        <td>
            {% if workflow %}<a href="{{ page.workflow.get_absolute_url }}">{{ page.workflow }}</a>
            {% if not workflow.has_started %} :: <a href="{% url add_jobs page.id %}">Manage workflow jobs</a>{% endif %}
            {% else %}No workflow! <a href="{% url new_workflow page.id %}">Create one?</a>{% endif %}
        </td>
    </tr>
</table>
<br />

<table class="pretty centered-text">
    <tr>
        <th>Step</th>
        <th>Image thumbnail</th>
        <th>Information</th>
        <th>Options</th>
    </tr>
    <tr>
        <td>Original image</td>
        <td><img src="{{ page.get_thumb_url }}"></td>
        <td><dl>
            <dt>Image size:</dt>
            <dd>{{ page.get_original_image_size }}</dd>
            <dt>Image dimensions:</dt>
            <dd>{{ page.original_width }} &times; {{ page.original_height }}</dd>
        </dl></td>
        <td>View sizes: <a href="{{ small_thumbnail }}">Small</a> :: <a href="{{ medium_thumbnail }}">Medium</a> :: <a href="{{ large_thumbnail }}">Large</a> :: <a href="{{ original_image }}">Original</a></td>
    </tr>
    {% for step in steps %}
    <tr>
        <td>{{ step.job }}</td>
        <td>
        {% if step.is_done %}
            {% if step.is_done == -1 %}
                An error occured for this job. No image outputted.
            {% else %}{% if step.outputs_image %}
                <img src="{{ step.small_thumbnail }}" />
            {% else %}
                This job is complete but does not output an image.
            {% endif %}{% endif %}
        {% else %}
            <span class="error">
            {% if step.has_started %}
                This job has begun, but it is not yet complete.
            {% else %}
                This job has not yet begun.
            {% endif %}
            </span>
            {% if step.job == next_available_job %}
            <a href="{% url task_complete page.id step.job.slug %}">Work on this job &raquo;</a>
            {% endif %}
        {% endif %}
        </td>
        <td><dl>
            {% if step.has_started and not step.job.get_object.is_automatic %}
            <dt>Time in manual step:</dt>
            <dd>{% if not step.manual_is_done %}<span class="tick" data-result-id="{{ step.result_id }}">{% endif %}{{ step.seconds_since_start }}{% if not step.manual_is_done %}</span>{% endif %} seconds</dd>
            {% endif %}
            {% if step.manual_is_done and step.is_done != -1 %}
            <dt>Time in queue</dt>
            <dd>{% if not step.is_done %}<span class="tick" data-result-id="{{ step.result_id }}">{% endif %}{{ step.seconds_in_queue }}{% if not step.is_done %}</span>{% endif %} seconds</dd>
            {% endif %}
        </dl></td>
        <td><p>{% if step.is_done == 1 and step.outputs_image %}View sizes: <a href="{{ step.small_thumbnail }}">Small</a> :: <a href="{{ step.medium_thumbnail }}">Medium</a> :: <a href="{{ step.large_thumbnail }}">Large</a> :: <a href="{{ step.original_image }}">Original</a>
        {% else %}{% if step.is_done == -1 %} An error occured at this job. Please restart this job or a previous job.{% endif %}{% endif %}</p>{% if step.is_done %}<p><a href="{% url restart_job page.id workflow.id step.job.slug %}">Restart job</a></p>{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>This page has not yet completed the upload/preprocessing step. Please check back soon.</p>
{% endif %}
