<h1>Add jobs to workflow {{ page.workflow }}</h1>
<div class="row-fluid">
    <div class="span4">
        {% include "includes/page_image.html" %}
    </div>
    <div class="span6">
        <h2>Workflow jobs</h2>
        <div class="well" id="active-jobs">
            {% for job in workflow_jobs %}
                {% if job in removable_jobs or forloop.last %}
                    {% include "includes/job_li.html" with remove=1 %}
                {% else %}
                    {% include "includes/job_li.html" %}
                {% endif %}
            {% empty %}
                <div class="media">
                    <h4>This workflow currently has no jobs.</h4>
                </div>
            {% endfor %}
        </div>

        <h2>Available jobs</h2>
        <div class="well" id="available-jobs">
            {% if jobs_same_io_type and jobs_diff_io_type %}
                <h3>Current Step</h3>
            {% elif jobs_same_io_type %} 
                <h3>Next Step</h3>
            {% endif %}

            {% for job in jobs_same_io_type %}
                    {% include "includes/job_li.html" with add=1 %}
            {% endfor %}

            {% if jobs_diff_io_type %} 
                <h3>Next Step</h3> 
            {% endif %}

            {% for job in jobs_diff_io_type %}
                    {% include "includes/job_li.html" with add=1 %}
            {% endfor %}
            
            {% if not jobs_same_io_type and not jobs_diff_io_type %}
                <div class="media">
                    <h4>There are no more available jobs.</h4>
                </div>
            {% endif %}
        </div>
        <fieldset class="submit">
            {% csrf_token %}
            <input type="hidden" name="workflow_jobs" value="" id="ordered-jobs" />
            <input type="hidden" name="job_to_edit" value="" id="job-to-edit" />
            <input type="hidden" name="job_to_add" value="" id="job-to-add" />
            <input type="hidden" name="job_to_remove" value="" id="job-to-remove" />
            <input type="submit" name="done" class="btn" value="Start the Workflow" />
        </fieldset>
    </div>
</div>

{% if template %}
    {% include template %}
{% endif %}
