{% extends "base.html" %}

{% block resources %}
<script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.1.min.js"></script>
<script>
 {% include 'gamera/interfaces/assets/Stats.js' %}
</script>
<script>
 {% include 'gamera/interfaces/assets/show_stats.js' %}
</script>
<script>
 {% include 'gamera/interfaces/assets/RKSegment.js' %}
</script>
{% endblock %}


{% block body %}
{% csrf_token %}
<input type="hidden" name="__serialized__" value="" id="JSON-input" />
<div style="padding: 1em; overflow: hidden; min-width: 1450px">
    <div style="float: left; width: 350px; margin: 1em">
        <h2>Polygon Masking Interface</h2>
        <p>Select a polygon or anchor by clicking on it, then use the mouse to drag it to a new position.<br/>
        <br/>
        With a polygon selected, you can:<br/>
        - delete it (d, Delete key, Backspace key)<br/>
        - transform it to a rectangle (r)<br/>
        - add an anchor (Alt key and mouse click)<br/>
        <br/>
        With an anchor selected, you can:<br/>
        - delete it (d, Delete key, Backspace key)<br/>
        <br/>
        You can create a new polygon by pressing n (no other polygon must be selected).
        <div style="margin-bottom: 1em;">
            <input type="submit" name="submit" value="Segment" class="submit" />
        </div>
    </div>
    <div id="segment-view" style="border: 2px solid; margin: 1em; float: left">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function()
    {
        $("#segment-view").RKSegment(
        {
            image: "{{ image_url }}",
            originalWidth: {{ image_width }},
            polyPoints: []
        });
        var rks = $("#segment-view").data('RKSegment');

        $('#form').submit(function ()
        {
            $('#JSON-input').val(function()
            {
                var points = rks.getPolyPoints();
                return JSON.stringify({'polygon_outer_points': rks.getPolyPoints()});
            });
        });
    });
</script>
{% endblock %}
