{% extends "base.html" %}

{% block resources %}
<script src="//d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.1.min.js"></script>
<script>{% include 'gamera/interfaces/assets/Stats.js' %}</script>
<script>{% include 'gamera/interfaces/assets/show_stats.js' %}</script>
<script>{% include 'gamera/interfaces/assets/despeckle.js' %}</script>
{% endblock %}


{% block body %}
<p>Adjust the slider until most speckles are removed</p>
<p>Client cc_size: <span id="cl_size">Not provided</span> </p>
    {% csrf_token %}
    <fieldset class="submit">
      <input type="hidden" name="__serialized__" id="serialized-input" />
      <input type="submit" name="submit" value="Despeckle" class="submit" />
    </fieldset>

<div id="slider"></div>
<div class="images">
    <div class="hidden">
        <img id="image-full" src="{{ image_url_large }}"/>
        <img id="image-thumb" src="{{ image_url_small }}"/>
    </div>
    <canvas id="image-viewport" alt="Image preview"></canvas>
    <div id="image-miniframe"></div>
</div>
{% endblock %}
