{% extends "base.html" %}

{% block resources %}
<script src="//d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.1.min.js"></script>
<script>{% include 'gamera/interfaces/assets/Stats.js' %}</script>
<script>{% include 'gamera/interfaces/assets/show_stats.js' %}</script>
<script>{% include 'gamera/interfaces/assets/crop.js' %}</script>
{% endblock %}

{% block body %}
        {% csrf_token %}
        <fieldset class="submit">
          <input type="hidden" name="__serialized__" id="serialized-input" />
          <input type="submit" name="submit" value="Crop" class="submit" />
        </fieldset>

        <div id="slider"></div>
            <div class="images">
                <div class="hidden">
                    <img id="image-original" src="{{ image_url }}" />
                </div>
            <div id="image-preview"></div>
        </div>
{% endblock %}