{% extends "base.html" %}

{% block resources %}
<script src="//d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.1.min.js"></script>
<script>{% include 'gamera/interfaces/assets/Stats.js' %}</script>
<script>{% include 'gamera/interfaces/assets/show_stats.js' %}</script>
<script>{% include 'gamera/interfaces/assets/crop.js' %}</script>
{% endblock %}

{% block body %}
        {% csrf_token %}
        <fieldset class="submit">
            <input type="hidden" name="ulx" value="0" id="tlx-input" />
            <input type="hidden" name="uly" value="0" id="tly-input" />
            <input type="hidden" name="lrx" value="0" id="brx-input" />
            <input type="hidden" name="lry" value="0" id="bry-input" />
            <input type="hidden" name="imw" value="1.0" id="imw-input" />
            <input type="submit" name="submit" value="Crop" class="submit" />
        </fieldset>

        <div id="slider"></div>
            <div class="images">
                <div class="hidden">
                    <img id="image-original" src="{{ image_url }}" />
                </div>
            <div id="image-preview"></div>
        </div>
{% endblock %}