<div class="row">
    <div class-"col-md-2 col-md-push-3" id="upper">
        <div class="column">
            <span id="count-classifier"></span>
            <span class="counter"><%- classifierGlyphs %></span>
        </div>
        <div class="column">
            <span id="count-page"></span>
            <span class="counter"><%- pageGlyphs %></span>
        </div>
        <div class="column">
            <span id="count-selected"></span>
            <span class="counter"><%- selectedGlyphs %></span>
        </div>
    </div>
    <div class="col-md-2 col-md-push-3" id="collapse-pane">
        <button class="coll-btn" id="collapse-button">Classifier Glyphs</button>
        <button class="coll-btn" id="collapse-page">Page Glyphs</button>
        <button class="coll-btn" id="collapse-image">Preview Image</button>
    </div>

    <button id="zoom-in" class="glyph-zoom">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button id="zoom-out" class="glyph-zoom">
        <span class="glyphicon glyphicon-minus"></span>
    </button>
    <div class="col-md-2 col-md-push-3" id="right0">
        <div class="classifier-table-region"></div>
    </div>
    <div class="col-md-4 col-md-push-3" id="right1">
        <div class="glyph-table-region row"></div>
    </div>
    <div class="col-md-4 col-md-push-3" id="right2">
        <div class="page-image-preview-region"></div>
    </div>
    <div class="col-md-3 col-md-pull-9" id="left1">
        <h2><%- classesHeader %></h2>
        <div class="glyph-class-tree-region"></div>
    </div>
    <div class="col-md-3 col-md-pull-9" id="left2">
        <h2><%- editGlyphLabel %></h2>
        <div class="glyph-edit-region">
            <p><%- editGlyphDescription %></p>
        </div>
    </div>
</div>

    <div class="modal-test"></div>
